//Подключение файлов
@import "nullify.scss";
@import "mixins.scss";

//Подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
$standardFont: "Noto Sans";

//Цвета
$mainBkgColor: rgb(255, 255, 255);
$highlightColor: rgb(12, 125, 255);
$mainFontColor: rgb(37, 64, 107);
$subtextColor: rgb(102, 115, 143);
$divFiller: rgb(246, 250, 255);
$borderColor: rgb(232, 242, 254);

//Размеры
$maxWidth: 1920px;
$minWidth: 320px;
$maxContentWidth: 1419px;
$screen1: 1024px;
$screen2: 360px;

//---------------------------

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: $maxContentWidth + 20px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 12px;
  @media (max-width: $screen1 + 20px) {
    max-width: $screen1;
  }
  @media (max-width: $screen2 + 20px) {
    max-width: $screen2;
  }
}

.header {
  background-color: $divFiller;
  font-family: $standardFont;
  color: $mainFontColor;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  &__content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    &-address {
      margin-left: auto;
      margin-right: 60px;
    }
  }
  &__icon {
    @include icon($highlightColor, 12px, 20px, middle);
  }
}

.menu {
  height: 67px;
  margin-top: 43px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  font-family: $standardFont;
  &__dropdown {
    position: relative;
    &-icon {
      @include icon(inherit, 10px, 7px, middle);
      &_deployed {
        display: none;
      }
      &_chart {
        @include icon(rgb(245, 129, 140), 0, 20px, middle);
        background-color: rgba(245, 129, 140, 0.1);
      }
      &_money {
        @include icon(rgb(71, 211, 155), 0, 20px, middle);
        background-color: rgba(71, 211, 155, 0.1);
      }
      &_arrow {
        @include icon(rgb(111, 60, 255), 0, 20px, middle);
        background-color: rgba(111, 60, 255, 0.1);
      }
      &_question {
        @include icon(rgb(255, 160, 92), 0, 20px, middle);
        background-color: rgba(255, 160, 92, 0.1);
      }
      &_tablet {
        @include icon(rgb(4, 210, 252), 0, 20px, middle);
        background-color: rgba(4, 210, 252, 0.1);
      }
      &_check {
        @include icon(rgb(12, 125, 255), 0, 20px, middle);
        background-color: rgba(12, 125, 255, 0.1);
      }
    }
    &:hover .menu__dropdown-wrapper {
      display: block;
    }
    &:hover i.menu__dropdown-icon_deployed {
      display: inline-block;
    }
    &:hover i.menu__dropdown-icon_minimized {
      display: none;
    }
    &-wrapper {
      display: none;
      position: absolute;
      width: auto;
      left: -360%;
    }
    &-category {
      width: 249px;
      p {
        font-weight: 400;
        font-size: 12px;
        margin-top: 8px;
        color: $subtextColor;
        line-height: 18px;
      }
    }
    &-content {
      display: grid;
      margin-top: 16px;
      grid-template-columns: 1fr 1fr;
      width: 716px;
      font-size: 16px;
      font-weight: 600;
      color: $mainFontColor;
      box-shadow: 1px 1px 20px rgba(71, 71, 71, 0.1);
      border-radius: 16px;
      background-color: $mainBkgColor;
    }
    &-item {
      margin: 12px 12px;
      display: flex;
      border-radius: 20px;
      align-items: center;
      &:hover {
        background-color: $divFiller;
        color: $highlightColor;
        cursor: pointer;
      }
      &-icon {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin: 20px 12px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &__navigation {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &-number {
      font-size: 20px;
      color: $highlightColor;
      height: 100%;
      display: flex;
      align-items: center;
      &:hover {
        @include border(1px, solid, $borderColor, 8px);
        padding-right: 20px;
        padding-left: 20px;
      }
      & a {
        color: $highlightColor;
      }
    }
    &-link {
      color: $mainFontColor;
    }
    &-link:hover {
      cursor: pointer;
      color: $highlightColor;
    }
    &-links {
      margin: auto;
      display: flex;
      max-width: 500px;
      width: 100%;
      justify-content: space-around;
    }
    &-icon {
      @include icon(inherit, 10px, 7px, middle);
    }
  }
  &__icon {
    @include icon($highlightColor, 15px, 20px, middle);
  }

}

.info {
  height: 720px;
}
.banner {
  font-family: $standardFont;
  color: $mainFontColor;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 45px;
  &__textbox {
    box-shadow: 4px 4px 4px -1px rgb(230, 234, 245),
    -4px 4px 4px -1px rgb(230, 234, 245);
    background-color: $divFiller;
    border-radius: 40px;
    width: 1340px;
    height: 464px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 77px;
    h1 {
      font-size: 50px;
      font-weight: 600;
    }
    p {
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      color: $subtextColor;
      width: 595px;
      padding: 28px;
      font-weight: 400;
    }
  }
  &__buttonbox {
    button {
      font-size: 16px;
      color: $highlightColor;
      font-weight: 600;
      background-color: $mainBkgColor;
      height: 58px;
      width: 201px;
      margin: 10px;
      @include border(1px, solid, rgb(214, 219, 237), 10px);
      &:hover {
        border-color: $highlightColor;
      }
    }
  }
  &__image  {
    &_linechart {
      top: -340px;
      right: 27px;
      padding: 5px;
      position: relative;
    }
    &_circlechart {
      position: relative;
      top: -133px;
      right: 100px;
    }
    &_dotchart {
      position: relative;
      top: -100px;
      right: 50px;
    }
    &_barchart {
      top: -133px;
      position: relative;
    }
    &_histogram {
      position: relative;
      top: -665px;
      left: 1197px;
    }
  }
}

.company-info {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  font-family: $standardFont;
  &__content {
    width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      color: $highlightColor;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 500;
    }
    h2 {
      font-size: 35px;
      font-weight: 600;
      color: $mainFontColor;
      line-height: 48px;
      max-width: 750px;
      text-align: center;
      margin-top: 40px;
      b {
        color: $highlightColor;
      }
    }
  }
  &__switcher {
    margin-top: 75px;
    margin-bottom: 75px;
    max-width: 1134px;
    .active {
      color: $highlightColor !important;
      background-color: $divFiller !important;
    }
  }
  &__button {
    padding: 18px 30px;
    background-color: $mainBkgColor;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    color: $mainFontColor;
    &:hover {
      color: $highlightColor;
    }
  }
}