//Подключение файлов
@import "nullify.scss";
@import "mixins.scss";

//Подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
$standardFont: "Noto Sans";

//Цвета
$mainBkgColor: rgb(255, 255, 255);
$highlightColor: rgb(12, 125, 255);
$mainFontColor: rgb(37, 64, 107);
$subtextColor: rgb(102, 115, 143);
$divFiller: rgb(246, 250, 255);
$borderColor: rgb(214, 219, 237);
$buttonHighlight: rgb(246, 250, 255);

//Размеры
$maxWidth: 1920px;
$minWidth: 320px;
$maxContentWidth: 1419px;
$screen1: 1024px;
$screen2: 360px;

//Шаблоны
%span-style {
  color: $highlightColor;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

//---------------------------
.lower {
  margin-top: 20px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: $maxContentWidth + 20px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 12px;
  @media (max-width: $screen1 + 20px) {
    max-width: $screen1;
  }
  @media (max-width: $screen2 + 20px) {
    max-width: $screen2;
  }
}

.header {
  background-color: $divFiller;
  font-family: $standardFont;
  color: $mainFontColor;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  &__content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    &-address {
      margin-left: auto;
      margin-right: 60px;
    }
  }
  &__icon {
    @include icon($highlightColor, 12px, 20px, middle);
  }
}

.menu {
  height: 67px;
  margin-top: 43px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  font-family: $standardFont;
  &__dropdown {
    position: relative;
    &-icon {
      @include icon(inherit, 10px, 7px, middle);
      &_deployed {
        display: none;
      }
      &_chart {
        @include icon(rgb(245, 129, 140), 0, 20px, middle);
        background-color: rgba(245, 129, 140, 0.1);
      }
      &_money {
        @include icon(rgb(71, 211, 155), 0, 20px, middle);
        background-color: rgba(71, 211, 155, 0.1);
      }
      &_arrow {
        @include icon(rgb(111, 60, 255), 0, 20px, middle);
        background-color: rgba(111, 60, 255, 0.1);
      }
      &_question {
        @include icon(rgb(255, 160, 92), 0, 20px, middle);
        background-color: rgba(255, 160, 92, 0.1);
      }
      &_tablet {
        @include icon(rgb(4, 210, 252), 0, 20px, middle);
        background-color: rgba(4, 210, 252, 0.1);
      }
      &_check {
        @include icon(rgb(12, 125, 255), 0, 20px, middle);
        background-color: rgba(12, 125, 255, 0.1);
      }
    }
    &:hover .menu__dropdown-wrapper {
      display: block;
    }
    &:hover i.menu__dropdown-icon_deployed {
      display: inline-block;
    }
    &:hover i.menu__dropdown-icon_minimized {
      display: none;
    }
    &-wrapper {
      display: none;
      position: absolute;
      width: auto;
      left: -360%;
    }
    &-category {
      width: 249px;
      p {
        font-weight: 400;
        font-size: 12px;
        margin-top: 8px;
        color: $subtextColor;
        line-height: 18px;
      }
    }
    &-content {
      display: grid;
      margin-top: 16px;
      grid-template-columns: 1fr 1fr;
      width: 716px;
      font-size: 16px;
      font-weight: 600;
      color: $mainFontColor;
      box-shadow: 1px 1px 20px rgba(71, 71, 71, 0.1);
      border-radius: 16px;
      background-color: $mainBkgColor;
    }
    &-item {
      margin: 12px 12px;
      display: flex;
      border-radius: 20px;
      align-items: center;
      &:hover {
        background-color: $divFiller;
        color: $highlightColor;
        cursor: pointer;
      }
      &-icon {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin: 20px 12px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &__navigation {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &-number {
      font-size: 20px;
      color: $highlightColor;
      height: 100%;
      display: flex;
      align-items: center;
      &:hover {
        @include border(1px, solid, $borderColor, 8px);
        padding-right: 20px;
        padding-left: 20px;
      }
      & a {
        color: $highlightColor;
      }
    }
    &-link {
      color: $mainFontColor;
    }
    &-link:hover {
      cursor: pointer;
      color: $highlightColor;
    }
    &-links {
      margin: auto;
      display: flex;
      max-width: 500px;
      width: 100%;
      justify-content: space-around;
    }
    &-icon {
      @include icon(inherit, 10px, 7px, middle);
    }
  }
  &__icon {
    @include icon($highlightColor, 15px, 20px, middle);
  }

}

.info {
  height: 720px;
}

.banner {
  font-family: $standardFont;
  color: $mainFontColor;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 45px;
  &__textbox {
    box-shadow: 4px 4px 4px -1px rgb(230, 234, 245),
    -4px 4px 4px -1px rgb(230, 234, 245);
    background-color: $divFiller;
    border-radius: 40px;
    width: 1340px;
    height: 464px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 77px;
    h1 {
      font-size: 50px;
      font-weight: 600;
    }
    p {
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      color: $subtextColor;
      width: 595px;
      padding: 28px;
      font-weight: 400;
    }
  }
  &__buttonbox {
    button {
      font-size: 16px;
      color: $highlightColor;
      font-weight: 600;
      background-color: $mainBkgColor;
      height: 58px;
      width: 201px;
      margin: 10px;
      @include border(1px, solid, rgb(214, 219, 237), 10px);
      &:hover {
        border-color: $highlightColor;
      }
    }
  }
  &__image  {
    &_linechart {
      top: -340px;
      right: 27px;
      padding: 5px;
      position: relative;
    }
    &_circlechart {
      position: relative;
      top: -133px;
      right: 100px;
    }
    &_dotchart {
      position: relative;
      top: -100px;
      right: 50px;
    }
    &_barchart {
      top: -133px;
      position: relative;
    }
    &_histogram {
      position: relative;
      top: -665px;
      left: 1197px;
    }
  }
}

.company-info {
  margin-top: 130px;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  font-family: $standardFont;
  &__content {
    width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      @extend %span-style;
    }
    h2 {
      font-size: 35px;
      font-weight: 600;
      color: $mainFontColor;
      line-height: 48px;
      max-width: 750px;
      text-align: center;
      margin-top: 40px;
      b {
        color: $highlightColor;
      }
    }
  }
  &__switcher {
    margin-top: 75px;
    margin-bottom: 75px;
    max-width: 1134px;
    .active {
      color: $highlightColor !important;
      background-color: $divFiller !important;
    }
  }
  &__button {
    padding: 18px 30px;
    background-color: $mainBkgColor;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    color: $mainFontColor;
    &:hover {
      color: $highlightColor;
    }
  }
  &__contentbox {
    width: 100%;
    display: flex;
    align-items: center;
    .active {
      display: block;
    }
  }
  &__textbox {
    width: 100%;
    display: none;
    &-item {
      max-width: 580px;
      padding: 30px 40px;
      border-radius: 20px;
      &:hover {
        box-shadow: 7px 7px 60px rgb(242, 243, 246);
        span {
          color: $highlightColor;
        }
      }
      span {
        color: $mainFontColor;
        height: 32px;
        font-size: 20px;
        font-weight: 600;
        text-transform: none;
        max-width: 500px;
      }
      p {
        margin-top: 20px;
        color: $mainFontColor;
        font-size: 16px;
        font-weight: normal;
        max-width: 500px;
      }
    }
  }
}

.service {
  font-family: $standardFont;
  position: relative;
  margin-bottom: 140px;
  &__background {
    position: absolute;
    background-color: $divFiller;
    border-radius: 40px;
    width: 80%;
    height: 521px;
    z-index: -1;
    max-width: 1162px;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
  }
  &__content {
    span {
      @extend %span-style;
    }
    h1 {
      margin-top: 40px;
      font-size: 35px;
      line-height: 48px;
      font-weight: 600;
    }
    &-details {
      display: flex;
      justify-content: space-between;
      &-box {
        max-width: 600px;
        button {
          font-size: 16px;
          color: $highlightColor;
          font-weight: 600;
          background-color: $mainBkgColor;
          height: 58px;
          width: 201px;
          margin: 60px 25px;
          @include border(1px, solid, rgb(214, 219, 237), 10px);
          .icon {
            @include icon($highlightColor, 12px, 100%, middle);
          }
          &:hover {
            background-color: rgb(232, 242, 254);
          }
        }
      }
      &-slider {
        .textbox {
          max-width: 600px;
          background-color: $mainBkgColor;
          border-radius: 20px;
          padding: 50px 40px;
          p {
            max-width: 500px;
            font-size: 16px;
            color: $subtextColor;
            line-height: 28px;
          }
        }
        &-nav {
          display: flex;
          justify-content: flex-end;
          button {
            background-color: $mainBkgColor;
            height: 56px;
            width: 56px;
            border-radius: 50%;
            margin-top: 11px;
            margin-left: 20px;
            @include border(1px, solid, $borderColor, 50%);
            &:hover {
              background-color: $buttonHighlight;
            }
          }
          .pagination {
            display: flex;
            max-width: 109px;
            align-items: center;
            margin-right: 83px;
            .swiper-pagination-bullet {
              //background-color: rgb(230, 234, 245);
              background-color: rgb(189, 197, 218);
              border-radius: 10px;
              transition: 300ms width linear, 300ms background-color linear;
              &-active {
                background-color: rgb(189, 197, 218);
                width: 37px;
              }
            }
          }
          .icon {
            @include icon($highlightColor, 0, 16px, none);
          }
        }
      }
    }
  }
}

.photo-slider {
  height: 324px;
  margin-top: 80px;
  .photo-slide {
    border-radius: 20px;
  }
}

.services {
  font-family: $standardFont;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      @extend %span-style;
    }
    h1 {
      font-weight: 600;
      line-height: 48px;
      font-size: 35px;
      margin-top: 40px;
    }
    p {
      font-weight: 400;
      line-height: 28px;
      font-size: 16px;
      max-width: 500px;
      margin-top: 24px;
      color: $subtextColor;
    }
    &-categories {
      margin-top: 60px;
      margin-bottom: 120px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 24px 65px;
      width: 100%;
    }
    .category {
      @include border(1px, solid, transparent, 0);
      padding-top: 30px;
      padding-bottom: 45px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 25px;
      box-shadow: 0 11px 28px 1px rgb(230, 234, 245);
      .icon {
        border-radius: 50%;
        width: 85px;
        height: 85px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 28px;
        &_chart {
          @include icon(rgb(245, 129, 140), 0, 30px, middle);
          background-color: rgba(245, 129, 140, 0.1);
        }
        &_round {
          @include icon(rgb(111, 60, 255), 0, 30px, middle);
          background-color: rgba(111, 60, 255, 0.1);
        }
        &_tablet {
          @include icon(rgb(4, 210, 252), 0, 30px, middle);
          background-color: rgba(4, 210, 252, 0.1);
        }
        &_money {
          @include icon(rgb(71, 211, 155), 0, 30px, middle);
          background-color: rgba(71, 211, 155, 0.1);
        }
        &_question {
          @include icon(rgb(255, 160, 92), 0, 30px, middle);
          background-color: rgba(255, 160, 92, 0.1);
        }
        &_check {
          @include icon(rgb(12, 125, 255), 0, 20px, middle);
          background-color: rgba(12, 125, 255, 0.1);
        }
      }
      span {
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        text-transform: none;
        color: $mainFontColor;
      }
      p {
        max-width: 340px;
      }
      &_count:hover {
        border-color: rgb(245, 129, 140);
      }
      &_recovery:hover {
        border-color: rgb(111, 60, 255);
      }
      &_report:hover {
        border-color: rgb(4, 210, 252);
      }
      &_salary:hover {
        border-color: rgb(71, 211, 155);
      }
      &_consult:hover {
        border-color: rgb(255, 160, 92);
      }
      &_ltd:hover {
        border-color: rgb(12, 125, 255);
      }
      &:hover {
        cursor: pointer;
        .chart {
          color: rgb(245, 129, 140);
        }
        .round {
          color: rgb(111, 60, 255);
        }
        .tablet {
          color: rgb(4, 210, 252);
        }
        .money {
          color: rgb(71, 211, 155);
        }
        .question {
          color: rgb(255, 160, 92);
        }
        .check {
          color: rgb(12, 125, 255);
        }
      }
    }
  }
}

.about-us {
  font-family: $standardFont;
  margin-bottom: 120px;
  max-height: 535px;
  &__content {
    display: flex;
    width: 100%;
    &-textbox {
      margin-top: 64px;
      max-width: 527px;
      span {
        @extend %span-style;
      }
      h1 {
        margin-top: 40px;
        font-weight: 600;
        font-size: 35px;
        line-height: 48px;
        margin-bottom: 24px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: $subtextColor;
      }
    }
    &-contact {
      margin-left: 123px;
      width: 100%;
      background-color: $divFiller;
      border-radius: 40px;
      display: flex;
      flex-direction: column;
      .steps {
        margin: 51px 60px 60px;
        color: rgb(182, 216, 255);
        display: flex;
        width: 100%;
        max-width: 650px;
        .step {
          width: 25%;
          transition: color 300ms linear;
          &__num {
            font-family: Source Sans Pro;
            font-size: 36px;
            line-height: 46px;
            font-weight: 600;
          }
          &__line {
            height: 4px;
            background-color: rgb(182, 216, 255);
            margin-top: 12px;
            margin-bottom: 24px;
            transition: background-color 300ms linear;
          }
          &__description {
            max-width: 149px;
          }
          &_active {
            color: $highlightColor !important;
            .step__line {
              background-color: $highlightColor !important;
            }
          }
          &:hover {
            cursor: pointer;
            color: rgb(131, 189, 255);
            .step__line {
              background-color: rgb(131, 189, 255);
            }
          }
        }
      }
      span {
        margin-left: 60px;
        max-width: 500px;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
      }
      p {
        color: $subtextColor;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        max-width: 500px;
        margin-left: 60px;
        margin-bottom: 39px;
      }
      button {
        margin-bottom: 60px;
        width: 207px;
        height: 58px;
        background-color: $highlightColor;
        border-radius: 8px;
        margin-left: 60px;
        color: $mainBkgColor;
        font-weight: 400;
        font-size: 16px;
        &:hover {
          background-color: $mainBkgColor;
          color: $highlightColor;
          @include border(1px, solid, $subtextColor, 8px)
        }
      }
    }
  }
  img {
    position: relative;
    bottom: 180px;
    left: 320px;
  }
}

.calculator {
  font-family: $standardFont;
  margin-bottom: 120px;
  &__content {
    display: flex;
    width: 100%;
    &-calcbox {
      width: 50%;
      border-radius: 40px;
      background-color: $divFiller;
      padding: 34px 51px 46px;
      .variables {
        span {
          color: $mainFontColor;
          font-weight: 500;
          font-size: 16px;
        }
        .buttonbox {
          margin-top: 12px;
          margin-bottom: 32px;
          display: flex;
          .active {
            background-color: rgb(232, 242, 254);
            border-color: $highlightColor;
          }
          button {
            padding: 18px 32px;
            margin-right: 4px;
            font-size: 14px;
            white-space: nowrap;
            background-color: $mainBkgColor;
            color: $highlightColor;
            font-weight: 600;
            @include border(1px, solid, $borderColor, 8px);
            &:hover {
              border-color: $highlightColor;
            }
          }
        }
      }
      .sum {
        display: flex;
        margin-top: 60px;
        justify-content: space-between;
        align-items: center;
        .total {
          span {
            font-weight: 600;
            color: $mainFontColor;
            font-size: 20px;
            line-height: 32px;
          }
          p {
            color: $highlightColor;
            font-size: 16px;
            font-weight: 500;
          }
          .answer {
            font-weight: 600;
            color: $highlightColor;
            font-size: 40px;
            line-height: 46px;
            margin-right: 12px;
          }
        }
        button {
          padding: 18px 32px;
          max-height: 58px;
          background-color: $highlightColor;
          color: $mainBkgColor;
          font-size: 16px;
          font-weight: 600;
          border-radius: 8px;
          &:hover {
            background-color: $mainBkgColor;
            color: $highlightColor;
            @include border(1px, solid, $subtextColor, 8px);
          }
        }
      }
    }
    &-textbox {
      width: 50%;
      padding-left: 61px;
      margin-top: 64px;
      span {
        @extend %span-style;
      }
      h1 {
        margin-top: 40px;
        font-weight: 600;
        font-size: 35px;
        line-height: 48px;
        color: $mainFontColor;
        margin-bottom: 24px;
      }
      p {
        color: $subtextColor;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        max-width: 500px;
      }
    }
  }
}
