//Подключение файлов
@import "nullify.scss";
@import "mixins.scss";

//Подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
$standardFont: "Noto Sans", sans-serif;

//Цвета
$mainBkgColor: rgb(255, 255, 255);
$highlightColor: rgb(12, 125, 255);
$mainFontColor: rgb(37, 64, 107);
$subtextColor: rgb(102, 115, 143);
$divFiller: rgb(246, 250, 255);
$borderColor: rgb(214, 219, 237);
$buttonHighlight: rgb(246, 250, 255);

//Размеры
$maxWidth: 1920px;
$minWidth: 320px;
$maxContentWidth: 1419px;
$screen1: 1024px;
$screen2: 360px;

//Шаблоны
%span-style {
  color: $highlightColor;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

%pagination-style {
  display: flex;
  max-width: 109px;
  align-items: center;
  .swiper-pagination-bullet {
    background-color: rgb(189, 197, 218);
    border-radius: 10px;
    transition: 300ms width linear, 300ms background-color linear;
    &-active {
      background-color: rgb(189, 197, 218);
      width: 37px;
    }
  }
}

%shadow {
  box-shadow: 0 11px 28px 1px rgb(242, 243, 246);
}

%button {
  font-size: 16px;
  color: $highlightColor;
  font-weight: 600;
  background-color: $mainBkgColor;
  @include border(1px, solid, rgb(214, 219, 237), 10px);
}

//---------------------------
@media (max-width: $screen1) {
  body.lock {
    overflow: hidden;
  }
}

.lower {
  margin-top: 20px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: $maxContentWidth + 20px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
  @media (max-width: $screen1 + 20px) {
    max-width: $screen1;
  }
  @media (max-width: $screen2 + 20px) {
    max-width: $screen2;
  }
}

.header {
  background-color: $divFiller;
  font-family: $standardFont;
  color: $mainFontColor;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  &__content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    &-address {
      margin-left: auto;
      margin-right: 60px;
    }
  }
  &__icon {
    @include icon($highlightColor, 0, 20px, middle);
  }
}

.menu {
  height: 67px;
  margin-top: 43px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  font-family: $standardFont;
  &__link {
    color: $mainFontColor;
  }
  &__link:hover {
    cursor: pointer;
    color: $highlightColor;
  }
  &__dropdown {
    position: relative;
    &-icon {
      @include icon(inherit, 10px, 7px, middle);
      &_deployed {
        display: none;
      }
      &_chart {
        @include icon(rgb(245, 129, 140), 0, 20px, middle);
        background-color: rgba(245, 129, 140, 0.1);
      }
      &_money {
        @include icon(rgb(71, 211, 155), 0, 20px, middle);
        background-color: rgba(71, 211, 155, 0.1);
      }
      &_arrow {
        @include icon(rgb(111, 60, 255), 0, 20px, middle);
        background-color: rgba(111, 60, 255, 0.1);
      }
      &_question {
        @include icon(rgb(255, 160, 92), 0, 20px, middle);
        background-color: rgba(255, 160, 92, 0.1);
      }
      &_tablet {
        @include icon(rgb(4, 210, 252), 0, 20px, middle);
        background-color: rgba(4, 210, 252, 0.1);
      }
      &_check {
        @include icon(rgb(12, 125, 255), 0, 20px, middle);
        background-color: rgba(12, 125, 255, 0.1);
      }
    }
    &:hover .menu__dropdown-wrapper {
      display: block;
    }
    &:hover i.menu__dropdown-icon_deployed {
      display: inline-block;
    }
    &:hover i.menu__dropdown-icon_minimized {
      display: none;
    }
    &-wrapper {
      display: none;
      position: absolute;
      width: auto;
      left: -360%;
    }
    &-category {
      width: 249px;
      p {
        font-weight: 400;
        font-size: 12px;
        margin-top: 8px;
        color: $subtextColor;
        line-height: 18px;
      }
    }
    &-content {
      display: grid;
      margin-top: 16px;
      grid-template-columns: 1fr 1fr;
      width: 716px;
      font-size: 16px;
      font-weight: 600;
      color: $mainFontColor;
      box-shadow: 1px 1px 20px rgba(71, 71, 71, 0.1);
      border-radius: 16px;
      background-color: $mainBkgColor;
    }
    &-item {
      margin: 12px 12px;
      display: flex;
      border-radius: 20px;
      align-items: center;
      &:hover {
        background-color: $divFiller;
        color: $highlightColor;
        cursor: pointer;
      }
      &-icon {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin: 20px 12px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &__navigation {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &-number {
      font-size: 20px;
      color: $highlightColor;
      height: 100%;
      display: flex;
      align-items: center;
      @include border(1px, solid, transparent, 8px);
      &:hover {
        border-color: $borderColor;
        padding-right: 20px;
        padding-left: 20px;
      }
      & a {
        color: $highlightColor;
      }
    }
    &-links {
      margin: auto;
      display: flex;
      max-width: 500px;
      width: 100%;
      justify-content: space-around;
    }
    &-icon {
      @include icon(inherit, 10px, 7px, middle);
    }
  }
  &__icon {
    @include icon($highlightColor, 15px, 20px, middle);
  }
  &__mobile {
    display: none;
    &-control {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  @media (max-width: $screen1) {
    &__burger {
      position: relative;
      background-color: rgba($highlightColor, 0.1);
      width: 64px;
      height: 64px;
      border-radius: 16px;
    }
    .burger {
      display: flex;
      width: 24px;
      height: 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &.active {
        &::before {
          transform: rotate(45deg);
          top: 7px;
        }
        &::after {
          transform: rotate(-45deg);
          bottom: 7px;
        }
        span {
          transform: scale(0);
        }
      }
      &::before, &::after {
        content: '';
        background-color: $highlightColor;
        position: absolute;
        width: 100%;
        height: 2px;
        transition: all 300ms;
      }
      &::after {
        bottom: 0;
      }
      span {
        background-color: $highlightColor;
        position: absolute;
        width: 100%;
        height: 2px;
        top: 7px;
        transition: all 300ms;
      }
    }
    &__link {
      margin-bottom: 40px;
    }
    &__mobile {
      display: block;
      width: 100%;
      &-links {
        &_active {
          display: flex;
        }
        z-index: 10;
        position: absolute;
        padding-left: 20px;
        padding-top: 20px;
        font-size: 24px;
        width: 100%;
        height: 100%;
        display: none;
        flex-direction: column;
        background-color: $mainBkgColor;
      }
    }
    &__dropdown {
      margin-bottom: 40px;
      &-mobile {
        display: none;
        &_active {
          display: block;
        }
      }
      &-content {
        box-shadow: none;
      }
    }
    &__navigation {
      display: none;
    }
  }
}

.info {
  height: 720px;
  position: relative;
  .upper-images {
    position: absolute;
    width: 106%;
    display: flex;
    right: -3%;
    top: 20%;
    padding: 0 30px;
    justify-content: space-between;
    @media (max-width: 1230px) {
      display: none;
    }
  }
  .bottom-images {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    width: 100%;
    white-space: nowrap;
    @media (max-width: $screen1) {
      img {
        transform: scale(0.7);
      }
    }
    .banner__image_dotchart {
      margin-top: 40px;
    }
  }
}

.banner {
  font-family: $standardFont;
  color: $mainFontColor;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 45px;
  &__textbox {
    box-shadow: 4px 4px 4px -1px rgb(230, 234, 245),
    -4px 4px 4px -1px rgb(230, 234, 245);
    background-color: $divFiller;
    border-radius: 40px;
    width: 1340px;
    height: 464px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 77px;
    h1 {
      font-size: 50px;
      font-weight: 600;
    }
    p {
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      color: $subtextColor;
      width: 595px;
      padding: 28px;
      font-weight: 400;
    }
  }
  &__buttonbox {
    button {
      @extend %button;
      margin: 10px;
      height: 58px;
      width: 201px;
      &:hover {
        border-color: $highlightColor;
      }
    }
  }
}

.company-info {
  margin-top: 130px;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  font-family: $standardFont;
  &__content {
    width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      @extend %span-style;
    }
    h2 {
      font-size: 35px;
      font-weight: 600;
      color: $mainFontColor;
      line-height: 48px;
      max-width: 750px;
      text-align: center;
      margin-top: 40px;
      b {
        color: $highlightColor;
      }
    }
  }
  &__switcher {
    margin-top: 75px;
    margin-bottom: 75px;
    max-width: 1134px;
    .active {
      color: $highlightColor !important;
      background-color: $divFiller !important;
    }
  }
  &__button {
    padding: 18px 30px;
    background-color: $mainBkgColor;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    color: $mainFontColor;
    &:hover {
      color: $highlightColor;
    }
  }
  &__contentbox {
    width: 100%;
    display: flex;
    align-items: center;
    .active {
      display: block;
    }
  }
  &__textbox {
    width: 100%;
    display: none;
    &-item {
      max-width: 580px;
      padding: 30px 40px;
      border-radius: 20px;
      &:hover {
        box-shadow: 7px 7px 60px rgb(242, 243, 246);
        span {
          color: $highlightColor;
        }
      }
      span {
        color: $mainFontColor;
        height: 32px;
        font-size: 20px;
        font-weight: 600;
        text-transform: none;
        max-width: 500px;
      }
      p {
        margin-top: 20px;
        color: $mainFontColor;
        font-size: 16px;
        font-weight: normal;
        max-width: 500px;
      }
    }
  }
}

.service {
  font-family: $standardFont;
  position: relative;
  margin-bottom: 140px;
  &__background {
    position: absolute;
    background-color: $divFiller;
    border-radius: 40px;
    width: 80%;
    height: 521px;
    z-index: -1;
    max-width: 1162px;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
  }
  &__content {
    span {
      @extend %span-style;
    }
    h1 {
      margin-top: 40px;
      font-size: 35px;
      line-height: 48px;
      font-weight: 600;
    }
    &-details {
      display: flex;
      justify-content: space-between;
      &-box {
        max-width: 600px;
        button {
          @extend %button;
          height: 58px;
          width: 201px;
          margin: 60px 25px;
          .icon {
            @include icon($highlightColor, 12px, 100%, middle);
          }
          &:hover {
            background-color: rgb(232, 242, 254);
          }
        }
      }
      &-slider {
        .textbox {
          max-width: 600px;
          background-color: $mainBkgColor;
          border-radius: 20px;
          padding: 50px 40px;
          p {
            max-width: 500px;
            font-size: 16px;
            color: $subtextColor;
            line-height: 28px;
          }
        }
        &-nav {
          display: flex;
          justify-content: flex-end;
          button {
            background-color: $mainBkgColor;
            height: 56px;
            width: 56px;
            border-radius: 50%;
            margin-top: 11px;
            margin-left: 20px;
            @include border(1px, solid, $borderColor, 50%);
            &:hover {
              background-color: $buttonHighlight;
            }
          }
          .pagination {
            @extend %pagination-style;
            margin-right: 83px;
          }
          .icon {
            @include icon($highlightColor, 0, 16px, none);
          }
        }
      }
    }
  }
}

.photo-slider {
  height: 324px;
  margin-top: 80px;
  .photo-slide {
    border-radius: 20px;
  }
}

.services {
  font-family: $standardFont;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      @extend %span-style;
    }
    h1 {
      font-weight: 600;
      line-height: 48px;
      font-size: 35px;
      margin-top: 40px;
    }
    p {
      font-weight: 400;
      line-height: 28px;
      font-size: 16px;
      max-width: 500px;
      margin-top: 24px;
      color: $subtextColor;
    }
    &-categories {
      margin-top: 60px;
      margin-bottom: 120px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 24px 65px;
      width: 100%;
    }
    .category {
      @include border(1px, solid, transparent, 0);
      padding-top: 30px;
      padding-bottom: 45px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 25px;
      box-shadow: 0 11px 28px 1px rgb(230, 234, 245);
      .icon {
        border-radius: 50%;
        width: 85px;
        height: 85px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 28px;
        &_chart {
          @include icon(rgb(245, 129, 140), 0, 30px, middle);
          background-color: rgba(245, 129, 140, 0.1);
        }
        &_round {
          @include icon(rgb(111, 60, 255), 0, 30px, middle);
          background-color: rgba(111, 60, 255, 0.1);
        }
        &_tablet {
          @include icon(rgb(4, 210, 252), 0, 30px, middle);
          background-color: rgba(4, 210, 252, 0.1);
        }
        &_money {
          @include icon(rgb(71, 211, 155), 0, 30px, middle);
          background-color: rgba(71, 211, 155, 0.1);
        }
        &_question {
          @include icon(rgb(255, 160, 92), 0, 30px, middle);
          background-color: rgba(255, 160, 92, 0.1);
        }
        &_check {
          @include icon(rgb(12, 125, 255), 0, 20px, middle);
          background-color: rgba(12, 125, 255, 0.1);
        }
      }
      span {
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        text-transform: none;
        color: $mainFontColor;
      }
      p {
        max-width: 340px;
      }
      &_count:hover {
        border-color: rgb(245, 129, 140);
      }
      &_recovery:hover {
        border-color: rgb(111, 60, 255);
      }
      &_report:hover {
        border-color: rgb(4, 210, 252);
      }
      &_salary:hover {
        border-color: rgb(71, 211, 155);
      }
      &_consult:hover {
        border-color: rgb(255, 160, 92);
      }
      &_ltd:hover {
        border-color: rgb(12, 125, 255);
      }
      &:hover {
        cursor: pointer;
        .chart {
          color: rgb(245, 129, 140);
        }
        .round {
          color: rgb(111, 60, 255);
        }
        .tablet {
          color: rgb(4, 210, 252);
        }
        .money {
          color: rgb(71, 211, 155);
        }
        .question-mark {
          color: rgb(255, 160, 92);
        }
        .check {
          color: rgb(12, 125, 255);
        }
      }
    }
  }
}

.about-us {
  font-family: $standardFont;
  margin-bottom: 120px;
  max-height: 535px;
  &__content {
    display: flex;
    width: 100%;
    &-textbox {
      margin-top: 64px;
      max-width: 527px;
      span {
        @extend %span-style;
      }
      h1 {
        margin-top: 40px;
        font-weight: 600;
        font-size: 35px;
        line-height: 48px;
        margin-bottom: 24px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: $subtextColor;
      }
    }
    &-contact {
      margin-left: 123px;
      width: 100%;
      background-color: $divFiller;
      border-radius: 40px;
      display: flex;
      flex-direction: column;
      .steps {
        margin: 51px 60px 60px;
        color: rgb(182, 216, 255);
        display: flex;
        width: 100%;
        max-width: 650px;
        .step {
          width: 25%;
          transition: color 300ms linear;
          &__num {
            font-family: "Source Sans Pro", sans-serif;
            font-size: 36px;
            line-height: 46px;
            font-weight: 600;
          }
          &__line {
            height: 4px;
            background-color: rgb(182, 216, 255);
            margin-top: 12px;
            margin-bottom: 24px;
            transition: background-color 300ms linear;
          }
          &__description {
            max-width: 149px;
          }
          &_active {
            color: $highlightColor !important;
            .step__line {
              background-color: $highlightColor !important;
            }
          }
          &:hover {
            cursor: pointer;
            color: rgb(131, 189, 255);
            .step__line {
              background-color: rgb(131, 189, 255);
            }
          }
        }
      }
      span {
        margin-left: 60px;
        max-width: 500px;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
      }
      p {
        color: $subtextColor;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        max-width: 500px;
        margin-left: 60px;
        margin-bottom: 39px;
      }
      button {
        margin-bottom: 60px;
        width: 207px;
        height: 58px;
        background-color: $highlightColor;
        border-radius: 8px;
        margin-left: 60px;
        color: $mainBkgColor;
        font-weight: 400;
        font-size: 16px;
        &:hover {
          background-color: $mainBkgColor;
          color: $highlightColor;
          @include border(1px, solid, $subtextColor, 8px)
        }
      }
    }
  }
  img {
    position: relative;
    bottom: 180px;
    left: 320px;
  }
}

.calculator {
  font-family: $standardFont;
  margin-bottom: 120px;
  &__content {
    display: flex;
    width: 100%;
    &-calcbox {
      width: 50%;
      border-radius: 40px;
      background-color: $divFiller;
      padding: 34px 51px 46px;
      z-index: 0;
      .variables {
        span {
          color: $mainFontColor;
          font-weight: 500;
          font-size: 16px;
        }
        .buttonbox {
          margin-top: 12px;
          margin-bottom: 32px;
          display: flex;
          .active {
            background-color: rgb(232, 242, 254);
            border-color: $highlightColor;
          }
          button {
            padding: 18px 32px;
            margin-right: 4px;
            font-size: 14px;
            white-space: nowrap;
            background-color: $mainBkgColor;
            color: $highlightColor;
            font-weight: 600;
            @include border(1px, solid, $borderColor, 8px);
            &:hover {
              border-color: $highlightColor;
            }
          }
        }
        .rulerbox {
          max-width: 440px;
          position: relative;
          .range_value {
            margin-top: 24px;
            position: absolute;
            color: $highlightColor;
            font-weight: 600;
            font-size: 16px;
            &::before {
              content: "";
              position: absolute;
              width: 64px;
              height: 36px;
              background-color: rgb(182, 216, 255);
              z-index: -1;
              border-radius: 16px;
              transform: translate(-50%, -50%);
              top: 50%;
              left:50%;
            }
            &::after {
              content: "";
              position: absolute;
              background-color: rgb(182, 216, 255);
              z-index: -1;
              width: 20px;
              height: 14px;
              transform: translateX(-50%) rotate(45deg);
              top: 90%;
              left: 50%;
            }
          }
          .ruler {
            position: relative;
            height: 80px;
            display: flex;
            align-items: flex-end;
          }
          .calc_range {
            width: 100%;
            margin-top: 22px;
            cursor: pointer;
            background: linear-gradient(90deg, $highlightColor 0%, $highlightColor 0%, rgb(232, 242, 254) 0%, rgb(232, 242, 254) 100%);
            -webkit-appearance: none;
            -moz-appearance: none;
            border-radius: 20px;
            appearance: none;
            max-height: 10px;
            &::-webkit-slider-runnable-track {
              height: 10px;
            }
            &::-webkit-slider-thumb {
              -webkit-appearance: none;
              height: 22px;
              width: 22px;
              @include border(2px, solid, $highlightColor, 50%);
              outline: 6px solid rgb(182, 216, 255);
              background-color: $mainBkgColor;
              margin-top: -6px;
            }
            &::-moz-range-track {
              height: 10px;
            }
            &::-moz-range-thumb {
              -moz-appearance: none;
              height: 22px;
              width: 22px;
              @include border(2px, solid, $highlightColor, 50%);
              background-color: $mainBkgColor;
              margin-top: -6px;
            }
          }
          .ticks {
            margin-top: 13px;
            display: flex;
            justify-content: space-between;
            span {
              color: rgb(189, 197, 218);
              font-size: 12px;
              font-weight: 500;
            }
            .main {
              display: flex;
              justify-content: space-between;
              width: 100%;
              margin-left: 42px;
              margin-right: 24px;
              .tick {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: rgb(189, 197, 218);
              }
            }
            .end {
              margin-left: auto;
            }
            .large {
              font-weight: 600;
              font-size: 16px;
            }
          }
        }
      }
      .sum {
        display: flex;
        margin-top: 60px;
        justify-content: space-between;
        align-items: center;
        .total {
          span {
            font-weight: 600;
            color: $mainFontColor;
            font-size: 20px;
            line-height: 32px;
          }
          p {
            color: $highlightColor;
            font-size: 16px;
            font-weight: 500;
          }
          .answer {
            font-weight: 600;
            color: $highlightColor;
            font-size: 40px;
            line-height: 46px;
            margin-right: 12px;
          }
        }
        button {
          padding: 18px 32px;
          max-height: 58px;
          background-color: $highlightColor;
          color: $mainBkgColor;
          font-size: 16px;
          font-weight: 600;
          border-radius: 8px;
          &:hover {
            background-color: $mainBkgColor;
            color: $highlightColor;
            @include border(1px, solid, $subtextColor, 8px);
          }
        }
      }
    }
    &-textbox {
      width: 50%;
      padding-left: 61px;
      margin-top: 64px;
      span {
        @extend %span-style;
      }
      h1 {
        margin-top: 40px;
        font-weight: 600;
        font-size: 35px;
        line-height: 48px;
        color: $mainFontColor;
        margin-bottom: 24px;
      }
      p {
        color: $subtextColor;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        max-width: 500px;
      }
    }
  }
}

.reviews {
  font-family: $standardFont;
  margin-bottom: 120px;
  &__content {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    &-textbox {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        @extend %span-style;
      }
      h1 {
        margin-top: 40px;
        margin-bottom: 24px;
        font-weight: 600;
        font-size: 35px;
        line-height: 48px;
        color: $mainFontColor;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: $subtextColor;
        max-width: 500px;
      }
    }
    &-reviewbox {
      width: 100%;
      .swiper-wrapper {
        padding-bottom: 60px;
        padding-top: 60px;
        .swiper-slide {
          display: flex;
          justify-content: space-around;
        }
      }
      .review {
        padding: 32px 60px;
        border-radius: 25px;
        text-align: left;
        @extend %shadow;
        p {
          max-width: 560px;
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          margin-bottom: 36px;
          color: $subtextColor;
        }
        .name {
          color: $mainFontColor;
          font-weight: 600;
          font-size: 20px;
          line-height: 32px;
        }
        .company {
          font-weight: 400;
          font-size: 14px;
          line-height: 28px;
          color: $subtextColor;
        }
        &__bottom {
          display: flex;
          &-img {
            background-color: $highlightColor;
            margin-right: 24px;
            height: 50px;
            width: 50px;
            border-radius: 8px;
          }
          &-text {
            display: flex;
            flex-direction: column;
          }

        }
      }
    }
    .reviewbox-pagination {
      @extend %pagination-style;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.certificates {
  font-family: $standardFont;
  margin-bottom: 120px;
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      @extend %span-style;
    }
    h1 {
      font-weight: 600;
      font-size: 35px;
      line-height: 48px;
      color: $mainFontColor;
      margin-bottom: 60px;
      margin-top: 40px;
    }
  }
  &__box {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    &-images {
      width: 100%;
      display: flex;
      margin-top: 40px;
      max-width: 1076px;
      justify-content: space-between;
    }
    .background {
      position: absolute;
      background-color: $divFiller;
      width: 100%;
      max-width: 754px;
      height: 355px;
      border-radius: 40px;
      z-index: -1;
      top: 0;
    }
  }
}

.blog {
  font-family: $standardFont;
  margin-bottom: 120px;
  &__content {
    width: 100%;
    span {
      @extend %span-style;
    }
    &-top {
      display: flex;
      justify-content: space-between;
      margin-top: 35px;
      margin-bottom: 60px;
      h1 {
        font-weight: 600;
        color: $mainFontColor;
        font-size: 35px;
        line-height: 48px;
      }
      button {
        @extend %button;
        width: 286px;
        height: 58px;
        &:hover {
          background-color: rgb(232, 242, 254);
        }
        i {
          @include icon($highlightColor, 12px, 100%, middle);
        }
      }
    }
    &-articles {
      display: flex;
      justify-content: space-between;
      .article {
        max-width: 444px;
        padding: 32px;
        border-radius: 25px;
        img {
          max-width: 380px;
          max-height: 290px;
          border-radius: 20px;
          margin-bottom: 28px;
        }
        span {
          text-transform: none;
          font-size: 20px;
          line-height: 32px;
          color: $mainFontColor;
        }
        p {
          max-width: 350px;
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          margin-top: 20px;
          margin-bottom: 28px;
          color: $subtextColor;
        }
        button {
          visibility: hidden;
          font-weight: 600;
          font-size: 16px;
          color: $highlightColor;
          background-color: $mainBkgColor;
          i {
            @include icon($highlightColor, 10px, 16px, middle);
          }
        }
        &:hover {
          @extend %shadow;
          cursor: pointer;
          span {
            color: $highlightColor;
          }
          button {
            visibility: visible;
          }
        }
      }
    }
  }
}

.faq {
  font-family: $standardFont;
  margin-bottom: 150px;
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    h1 {
      font-size: 35px;
      font-weight: 600;
      line-height: 48px;
      color: $mainFontColor;
      margin-bottom: 60px;
    }
    &-background {
      background-color: $divFiller;
      border-radius: 40px;
      max-width: 920px;
      position: absolute;
      height: 72%;
      width: 100%;
      z-index: -1;
      margin-top: 148px;
    }
    &-questions {
      .question {
        max-width: 800px;
        @include border(1px, solid, transparent, 20px);
        @extend %shadow;
        background-color: $mainBkgColor;
        &__title {
          padding: 26px 40px;
          color: $mainFontColor;
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
          }
          i {
            @include icon(inherit, 0, 12px, middle);
            padding-top: 4px;
            transition: transform 500ms;
          }
        }
        &__answer {
          display: none;
          overflow: hidden;
          border-radius: 20px;
          &-textbox {
            padding: 0 40px 26px;
            color: $subtextColor;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
          }
        }
        &:hover {
          border-color: $highlightColor;
          cursor: pointer;
          i {
            color: $highlightColor;
          }
        }
        &_active {
          i {
            transform: rotate(180deg);
          }
          span {
            color: $highlightColor;
          }
        }
        &:not(&:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.consult {
  font-family: $standardFont;
  margin-bottom: 100px;
  &__content {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    &-background {
      background-color: $divFiller;
      border-radius: 40px;
      width: 100%;
      max-height: 422px;
      height: 100%;
      position: absolute;
      z-index: -1;
    }
    &-textbox {
      width: 50%;
      padding: 60px 0 60px 100px;

      h1 {
        font-size: 40px;
        line-height: 48px;
        font-weight: 600;
        font-family: "Source Sans Pro", sans-serif;
        margin-bottom: 24px;
        color: $mainFontColor;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        color: $subtextColor;
        max-width: 514px;
        margin-bottom: 40px;
      }
      button {
        @extend %button;
        width: 212px;
        height: 58px;
        &:hover {
          background-color: $highlightColor;
          color: $mainBkgColor;
        }
      }
    }
    &-form {
      width: 50%;
      margin: 60px 100px 60px 0;
      max-width: 420px;
      .form__wrapper {
        display: flex;
        flex-direction: column;
        background-color: $mainBkgColor;
        border-radius: 20px;
        @extend %shadow;
        padding: 30px 50px;
        color: $mainFontColor;
        span {
          margin-bottom: 10px;
          font-weight: 500;
          font-size: 14px;
        }
        input {
          &[type=text] {
            &:focus {
              border-color: $highlightColor;
            }
            width: 100%;
            @include border(1px, solid, $borderColor, 12px);
            height: 50px;
            padding: 10px 20px;
            margin-bottom: 24px;
          }
          &[type=submit] {
            &:disabled {
              cursor: not-allowed;
            }
            max-width: 154px;
            height: 58px;
            cursor: pointer;
            border-radius: 8px;
            background-color: $highlightColor;
            color: $mainBkgColor;
            font-weight: 600;
            font-size: 16px;
            &:hover {
              @include border(1px, solid, $borderColor, 8px);
              background-color: $mainBkgColor;
              color: $highlightColor;
            }
          }
        }
        textarea {
          @include border(1px, solid, $borderColor, 12px);
          width: 100%;
          height: 120px;
          padding: 10px 20px;
          &:focus {
            border-color: $highlightColor;
          }
        }
        .agreement {
          display: flex;
          margin-top: 24px;
          height: 24px;
          align-items: center;
          margin-bottom: 40px;
          input {
            border-radius: 4px;
            height: 18px;
            width: 18px;
            cursor: pointer;
          }
          span {
            font-weight: 400;
            font-size: 12px;
            line-height: 24px;
            color: $subtextColor;
            margin-left: 10px;
            margin-bottom: 0;
          }
          a {
            font-weight: 500;
            color: $highlightColor;
            &:visited {
              color: $highlightColor;
            }
          }
        }
      }
    }
  }
}

.footer   {
  background-color: $divFiller;
  font-family: $standardFont;
  color: $mainFontColor;
  width: 100%;
  font-weight: 600;
  &__content {
    display: flex;
    flex-direction: column;
    padding-top: 58px;
    padding-bottom: 58px;
    .top-part {
      display: flex;
      width: 100%;
      margin-bottom: 58px;
    }
    .bottom-part {
      display: flex;
      width: 100%;
      flex-direction: column;
      hr {
        width: 100%;
        background-color: rgba(102, 115, 143, 0.2);
        height: 1px;
      }
    }
    &-list {
      display: flex;
      flex-direction: column;
      span {
        margin-bottom: 32px;
        text-transform: uppercase;
        color: $subtextColor;
        font-size: 14px;
      }
      a {
        color: inherit;
        &:not(a:last-child) {
          margin-bottom: 28px;
        }
        &:visited {
          color: inherit;
        }
        &:hover {
          color: $highlightColor;
        }
      }
    }
    &-services {
      margin-right: 107px;
    }
    &-vacancies {
      max-width: 500px;
      margin-left: auto;
      span {
        text-transform: uppercase;
        color: $subtextColor;
        font-size: 14px;
      }
      p {
        margin-top: 32px;
        color: $subtextColor;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
      }
      a {
        font-weight: 600;
        color: $mainFontColor;
        &:visited {
          color: inherit;
        }
        &:hover {
          color: $highlightColor;
        }
      }
    }
    &-end {
      margin-top: 35px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      span {
        font-weight: 400;
        font-size: 14px;
        color: $subtextColor;
      };
      img {
        position: absolute;
        height: 34px;
        width: 172px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
