@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.job span, .crew__content-textbox span, .one-s__content-textbox span, .offer__content-top span, .blog__content span, .certificates__content span, .reviews__content-textbox span, .calculator__content-textbox span, .about-us__content-textbox span, .services__content span, .service__content span, .company-info__content span {
  color: #0c7dff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

.about-company__slider-nav .pagination, .reviews__content .reviewbox-pagination, .service__content-details-slider-nav .pagination {
  display: flex;
  max-width: 109px;
  align-items: center;
}
.about-company__slider-nav .pagination .swiper-pagination-bullet, .reviews__content .reviewbox-pagination .swiper-pagination-bullet, .service__content-details-slider-nav .pagination .swiper-pagination-bullet {
  background-color: #bdc5da;
  border-radius: 10px;
  transition: 300ms width linear, 300ms background-color linear;
}
.about-company__slider-nav .pagination .swiper-pagination-bullet-active, .reviews__content .reviewbox-pagination .swiper-pagination-bullet-active, .service__content-details-slider-nav .pagination .swiper-pagination-bullet-active {
  background-color: #bdc5da;
  width: 37px;
}

.consult__content-form .form__wrapper, .faq__content-questions .question, .blog__content-articles .article:hover, .reviews__content-reviewbox_mobile .review .body__wrapper, .reviews__content-reviewbox .review {
  box-shadow: 0 11px 28px 1px #f2f3f6;
}

.one-s__content-textbox button, .consult__content-textbox button, .blog__content-top button, .service__content-details-box button, .banner__buttonbox button {
  font-size: 16px;
  color: #0c7dff;
  font-weight: 600;
  background-color: white;
  border: 1px solid #d6dbed;
  border-radius: 10px;
}

.lock {
  overflow: hidden;
}

.opened {
  height: 100%;
}

.lower {
  margin-top: 20px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1459px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}
@media (max-width: 1024px) {
  .container {
    max-width: 808px;
  }
}
@media (max-width: 760px) {
  .container {
    max-width: 800px;
  }
}
@media (max-width: 360px) {
  .container {
    max-width: 352px;
  }
}

.header {
  background-color: #f6faff;
  font-family: "Noto Sans", sans-serif;
  color: #25406b;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
}
@media (max-width: 760px) {
  .header {
    display: none;
  }
}
.header__content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.header__content-address {
  margin-left: auto;
  margin-right: 60px;
}
.header__icon {
  color: #0c7dff;
  margin-left: 0;
  font-size: 20px;
  vertical-align: middle;
}

.menu {
  height: 67px;
  margin-top: 43px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  background-color: white;
  width: 100%;
}
.menu__link {
  color: #25406b;
}
.menu__contact {
  font-size: 14px;
  color: #25406b;
  margin-bottom: 24px;
}
.menu__contact_number {
  font-size: 18px;
}
.menu__contact_number a {
  color: #0c7dff;
}
.menu__contact_number a:visited {
  color: inherit;
}
.menu__contact:hover {
  color: #0c7dff;
}
.menu__link:hover {
  cursor: pointer;
  color: #0c7dff;
}
.menu__dropdown {
  position: relative;
}
.menu__dropdown-icon {
  color: inherit;
  margin-left: 10px;
  font-size: 7px;
  vertical-align: middle;
}
.menu__dropdown-icon_deployed {
  display: none;
}
.menu__dropdown-icon_chart {
  color: #f5818c;
  margin-left: 0;
  font-size: 20px;
  vertical-align: middle;
  background-color: rgba(245, 129, 140, 0.1);
}
.menu__dropdown-icon_money {
  color: #47d39b;
  margin-left: 0;
  font-size: 20px;
  vertical-align: middle;
  background-color: rgba(71, 211, 155, 0.1);
}
.menu__dropdown-icon_arrow {
  color: #6f3cff;
  margin-left: 0;
  font-size: 20px;
  vertical-align: middle;
  background-color: rgba(111, 60, 255, 0.1);
}
.menu__dropdown-icon_question {
  color: #ffa05c;
  margin-left: 0;
  font-size: 20px;
  vertical-align: middle;
  background-color: rgba(255, 160, 92, 0.1);
}
.menu__dropdown-icon_tablet {
  color: #04d2fc;
  margin-left: 0;
  font-size: 20px;
  vertical-align: middle;
  background-color: rgba(4, 210, 252, 0.1);
}
.menu__dropdown-icon_check {
  color: #0c7dff;
  margin-left: 0;
  font-size: 20px;
  vertical-align: middle;
  background-color: rgba(12, 125, 255, 0.1);
}
.menu__dropdown:hover .menu__dropdown-wrapper {
  display: block;
}
.menu__dropdown:hover i.menu__dropdown-icon_deployed {
  display: inline-block;
}
.menu__dropdown:hover i.menu__dropdown-icon_minimized {
  display: none;
}
.menu__dropdown-wrapper {
  display: none;
  position: absolute;
  width: auto;
  left: -360%;
  z-index: 10;
}
.menu__dropdown-category {
  width: 249px;
}
.menu__dropdown-category p {
  font-weight: 400;
  font-size: 12px;
  margin-top: 8px;
  color: #66738f;
  line-height: 18px;
}
.menu__dropdown-content {
  display: grid;
  margin-top: 16px;
  grid-template-columns: 1fr 1fr;
  width: 716px;
  font-size: 16px;
  font-weight: 600;
  color: #25406b;
  box-shadow: 1px 1px 20px rgba(71, 71, 71, 0.1);
  border-radius: 16px;
  background-color: white;
}
@media (max-width: 760px) {
  .menu__dropdown-content {
    grid-template-columns: 1fr;
  }
}
.menu__dropdown-item {
  margin: 12px 12px;
  display: flex;
  border-radius: 20px;
  align-items: center;
}
@media (max-width: 760px) {
  .menu__dropdown-item {
    max-width: 70%;
  }
}
@media (max-width: 360px) {
  .menu__dropdown-item {
    max-width: 45%;
  }
}
.menu__dropdown-item:hover {
  background-color: #f6faff;
  color: #0c7dff;
  cursor: pointer;
}
.menu__dropdown-item-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 20px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__navigation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu__navigation-number {
  font-size: 20px;
  color: #0c7dff;
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 8px;
}
.menu__navigation-number:hover {
  border-color: #d6dbed;
  padding-right: 20px;
  padding-left: 20px;
}
.menu__navigation-number a {
  color: #0c7dff;
}
.menu__navigation-links {
  margin: auto;
  display: flex;
  max-width: 500px;
  width: 100%;
  justify-content: space-around;
}
.menu__navigation-icon {
  color: inherit;
  margin-left: 10px;
  font-size: 7px;
  vertical-align: middle;
}
.menu__icon {
  color: #0c7dff;
  margin-left: 15px;
  font-size: 20px;
  vertical-align: middle;
}
@media (max-width: 1024px) {
  .menu {
    display: none;
  }
}
.menu__mobile {
  font-weight: 600;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  background-color: white;
  display: none;
  padding: 20px 0;
  width: 100%;
}
.menu__mobile-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .menu__mobile {
    display: block;
  }
}
.menu__mobile-links {
  padding-left: 20px;
  font-size: 24px;
  width: 100%;
  height: 0;
  overflow: hidden;
  flex-direction: column;
  background-color: white;
}
.menu__mobile-links_active {
  height: auto;
}
.menu__mobile-links .links-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0;
}
.menu__mobile .menu__burger {
  position: relative;
  background-color: rgba(12, 125, 255, 0.1);
  width: 64px;
  height: 64px;
  border-radius: 16px;
}
.menu__mobile .menu__burger .burger {
  display: flex;
  width: 24px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu__mobile .menu__burger .burger.active::before {
  transform: rotate(45deg);
  top: 7px;
}
.menu__mobile .menu__burger .burger.active::after {
  transform: rotate(-45deg);
  bottom: 7px;
}
.menu__mobile .menu__burger .burger.active span {
  transform: scale(0);
}
.menu__mobile .menu__burger .burger::before, .menu__mobile .menu__burger .burger::after {
  content: "";
  background-color: #0c7dff;
  position: absolute;
  width: 100%;
  height: 2px;
  transition: all 300ms;
}
.menu__mobile .menu__burger .burger::after {
  bottom: 0;
}
.menu__mobile .menu__burger .burger span {
  background-color: #0c7dff;
  position: absolute;
  width: 100%;
  height: 2px;
  top: 7px;
  transition: all 300ms;
}
.menu__mobile .menu__link {
  margin-bottom: 40px;
}
.menu__mobile .menu__dropdown {
  margin-bottom: 40px;
}
.menu__mobile .menu__dropdown-mobile {
  display: none;
}
.menu__mobile .menu__dropdown-mobile_active {
  display: block;
}
.menu__mobile .menu__dropdown-content {
  box-shadow: none;
}
@media (max-width: 760px) {
  .menu__mobile {
    position: fixed;
    overflow: auto;
    z-index: 10;
    width: 100%;
  }
}

.info {
  height: 720px;
  position: relative;
}
@media (max-width: 760px) {
  .info {
    margin-top: 70px;
  }
}
.info .upper-images {
  position: absolute;
  width: 106%;
  display: flex;
  right: -3%;
  top: 20%;
  padding: 0 30px;
  justify-content: space-between;
}
@media (max-width: 1230px) {
  .info .upper-images {
    display: none;
  }
}
.info .bottom-images {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  width: 97%;
  white-space: nowrap;
}
@media (max-width: 1024px) {
  .info .bottom-images {
    transform: scale(0.7);
  }
}
@media (max-width: 760px) {
  .info .bottom-images .banner__image {
    display: none;
  }
  .info .bottom-images .banner__image_single {
    display: block;
  }
}
.info .bottom-images .banner__image_dotchart {
  margin-top: 40px;
}

.banner {
  font-family: "Noto Sans", sans-serif;
  color: #25406b;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
.banner__textbox {
  box-shadow: 4px 4px 4px -1px #e6eaf5, -4px 4px 4px -1px #e6eaf5;
  background-color: #f6faff;
  border-radius: 40px;
  width: 100%;
  height: 464px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 77px;
}
.banner__textbox h1 {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}
.banner__textbox p {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #66738f;
  max-width: 595px;
  padding: 28px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .banner__textbox h1 {
    font-size: 35px;
  }
}
@media (max-width: 760px) {
  .banner__textbox {
    height: auto;
  }
}
@media (max-width: 360px) {
  .banner__textbox h1 {
    font-size: 26px;
  }
  .banner__textbox p {
    font-size: 14px;
  }
}
.banner__buttonbox button {
  margin: 10px;
  height: 58px;
  width: 201px;
}
.banner__buttonbox button:hover {
  border-color: #0c7dff;
}
@media (max-width: 760px) {
  .banner__buttonbox {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
.banner__image_single {
  display: none;
  max-width: 240px;
}
@media (max-width: 760px) {
  .banner__image_single {
    display: block;
    transform: scale(1.5);
    margin-top: 35px;
  }
}

.company-info {
  margin-top: 130px;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
}
.company-info__content {
  max-width: 1170px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.company-info__content h2 {
  font-size: 35px;
  font-weight: 600;
  color: #25406b;
  line-height: 48px;
  max-width: 750px;
  text-align: center;
  margin-top: 40px;
}
.company-info__content h2 b {
  color: #0c7dff;
}
@media (max-width: 1024px) {
  .company-info__content span {
    font-size: 14px;
  }
  .company-info__content h2 {
    font-size: 28px;
    line-height: 38px;
    max-width: 630px;
  }
}
@media (max-width: 360px) {
  .company-info__content span {
    font-size: 12px;
  }
  .company-info__content h2 {
    font-size: 24px;
    line-height: 34px;
  }
}
.company-info .switcher-wrapper {
  margin-top: 60px;
  margin-bottom: 60px;
}
@media (max-width: 760px) {
  .company-info .switcher-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
  }
}
.company-info__switcher {
  margin-top: 75px;
  margin-bottom: 75px;
  max-width: 1134px;
  display: flex;
}
.company-info__switcher .active {
  color: #0c7dff !important;
  background-color: #f6faff !important;
}
@media (max-width: 760px) {
  .company-info__switcher {
    margin: 0;
  }
}
.company-info__button {
  padding: 18px 30px;
  background-color: white;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #25406b;
}
.company-info__button:hover {
  color: #0c7dff;
}
@media (max-width: 1024px) {
  .company-info__button {
    font-size: 14px;
  }
}
.company-info__contentbox {
  width: 100%;
  display: flex;
  align-items: center;
}
.company-info__contentbox .active {
  display: block;
}
.company-info__textbox {
  width: 100%;
  display: none;
}
.company-info__textbox-item {
  max-width: 580px;
  padding: 30px 40px;
  border-radius: 20px;
}
.company-info__textbox-item:hover {
  box-shadow: 7px 7px 60px #f2f3f6;
}
.company-info__textbox-item:hover span {
  color: #0c7dff;
}
.company-info__textbox-item span {
  color: #25406b;
  height: 32px;
  font-size: 20px;
  font-weight: 600;
  text-transform: none;
  max-width: 500px;
}
.company-info__textbox-item p {
  margin-top: 20px;
  color: #25406b;
  font-size: 16px;
  font-weight: normal;
  max-width: 500px;
}
@media (max-width: 360px) {
  .company-info__textbox-item span {
    font-size: 18px;
  }
  .company-info__textbox-item p {
    font-size: 14px;
  }
}
@media (max-width: 1044px) {
  .company-info__imagebox {
    display: none;
  }
}

.service {
  font-family: "Noto Sans", sans-serif;
  position: relative;
  margin-bottom: 140px;
}
.service__background {
  position: absolute;
  background-color: #f6faff;
  border-radius: 40px;
  width: 80%;
  height: 521px;
  z-index: -1;
  max-width: 1162px;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
}
.service__content h1 {
  margin-top: 40px;
  font-size: 35px;
  line-height: 48px;
  font-weight: 600;
}
.service__content-details {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .service__content-details {
    flex-direction: column;
  }
}
.service__content-details-box {
  max-width: 600px;
}
.service__content-details-box button {
  height: 58px;
  width: 201px;
  margin: 60px 25px;
}
.service__content-details-box button .icon {
  color: #0c7dff;
  margin-left: 12px;
  font-size: 100%;
  vertical-align: middle;
}
.service__content-details-box button:hover {
  background-color: #e8f2fe;
}
@media (max-width: 360px) {
  .service__content-details-box button {
    width: 171px;
    height: 51px;
  }
}
.service__content-details-slider .textbox {
  max-width: 600px;
  background-color: white;
  border-radius: 20px;
  padding: 50px 40px;
}
.service__content-details-slider .textbox p {
  max-width: 500px;
  font-size: 16px;
  color: #66738f;
  line-height: 28px;
}
@media (max-width: 360px) {
  .service__content-details-slider .textbox p {
    font-size: 14px;
  }
}
.service__content-details-slider-nav {
  display: flex;
  justify-content: flex-end;
}
.service__content-details-slider-nav .slider__buttonbox {
  display: flex;
  justify-content: space-between;
  width: 132px;
  margin-top: 24px;
}
.service__content-details-slider-nav button {
  background-color: white;
  height: 56px;
  width: 56px;
  border: 1px solid #d6dbed;
  border-radius: 50%;
}
.service__content-details-slider-nav button:hover {
  background-color: #f6faff;
}
.service__content-details-slider-nav .pagination {
  margin: auto;
}
.service__content-details-slider-nav .icon {
  color: #0c7dff;
  margin-left: 0;
  font-size: 16px;
  vertical-align: none;
}
@media (max-width: 360px) {
  .service__content span {
    font-size: 12px;
  }
  .service__content h1 {
    font-size: 24px;
    line-height: 34px;
  }
}

.photo-slider-box {
  margin-top: 80px;
}
.photo-slider-box .photo-slide {
  border-radius: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photo-slider-box .swiper-slide::after {
  content: "";
  display: block;
  padding-bottom: 75%;
}
@media (max-width: 1024px) {
  .photo-slider-box .swiper-slide:last-child {
    display: none;
  }
}
@media (max-width: 360px) {
  .photo-slider-box .swiper-slide:nth-child(5) {
    display: none;
  }
}

.services {
  font-family: "Noto Sans", sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}
.services__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__content h1 {
  font-weight: 600;
  line-height: 48px;
  font-size: 35px;
  margin-top: 40px;
}
.services__content p {
  font-weight: 400;
  line-height: 28px;
  font-size: 16px;
  max-width: 500px;
  margin-top: 24px;
  color: #66738f;
}
.services__content-categories {
  margin-top: 60px;
  margin-bottom: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px 65px;
  width: 100%;
}
@media (max-width: 1024px) {
  .services__content-categories {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 760px) {
  .services__content-categories {
    grid-template-columns: 1fr;
  }
}
.services__content .category {
  border: 1px solid transparent;
  border-radius: 0;
  padding-top: 30px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0 11px 28px 1px #e6eaf5;
}
.services__content .category .icon {
  border-radius: 50%;
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
}
.services__content .category .icon_chart {
  color: #f5818c;
  margin-left: 0;
  font-size: 30px;
  vertical-align: middle;
  background-color: rgba(245, 129, 140, 0.1);
}
.services__content .category .icon_round {
  color: #6f3cff;
  margin-left: 0;
  font-size: 30px;
  vertical-align: middle;
  background-color: rgba(111, 60, 255, 0.1);
}
.services__content .category .icon_tablet {
  color: #04d2fc;
  margin-left: 0;
  font-size: 30px;
  vertical-align: middle;
  background-color: rgba(4, 210, 252, 0.1);
}
.services__content .category .icon_money {
  color: #47d39b;
  margin-left: 0;
  font-size: 30px;
  vertical-align: middle;
  background-color: rgba(71, 211, 155, 0.1);
}
.services__content .category .icon_question {
  color: #ffa05c;
  margin-left: 0;
  font-size: 30px;
  vertical-align: middle;
  background-color: rgba(255, 160, 92, 0.1);
}
.services__content .category .icon_check {
  color: #0c7dff;
  margin-left: 0;
  font-size: 20px;
  vertical-align: middle;
  background-color: rgba(12, 125, 255, 0.1);
}
.services__content .category span {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-transform: none;
  color: #25406b;
}
.services__content .category p {
  max-width: 340px;
}
@media (max-width: 1024px) {
  .services__content .category span {
    font-size: 18px;
  }
  .services__content .category p {
    font-size: 14px;
    max-width: 270px;
  }
}
.services__content .category_count:hover {
  border-color: #f5818c;
}
.services__content .category_recovery:hover {
  border-color: #6f3cff;
}
.services__content .category_report:hover {
  border-color: #04d2fc;
}
.services__content .category_salary:hover {
  border-color: #47d39b;
}
.services__content .category_consult:hover {
  border-color: #ffa05c;
}
.services__content .category_ltd:hover {
  border-color: #0c7dff;
}
.services__content .category:hover {
  cursor: pointer;
}
.services__content .category:hover .chart {
  color: #f5818c;
}
.services__content .category:hover .round {
  color: #6f3cff;
}
.services__content .category:hover .tablet {
  color: #04d2fc;
}
.services__content .category:hover .money {
  color: #47d39b;
}
.services__content .category:hover .question-mark {
  color: #ffa05c;
}
.services__content .category:hover .check {
  color: #0c7dff;
}
@media (max-width: 360px) {
  .services__content span {
    font-size: 12px;
  }
  .services__content h1 {
    font-size: 24px;
    line-height: 34px;
  }
  .services__content p {
    font-size: 14px;
    left: 25px;
  }
}

.about-us {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 120px;
  max-height: 535px;
}
@media (max-width: 1024px) {
  .about-us {
    max-height: none;
  }
}
.about-us__content {
  display: flex;
  width: 100%;
}
@media (max-width: 1024px) {
  .about-us__content {
    flex-direction: column;
  }
}
.about-us__content-textbox {
  margin-top: 64px;
  max-width: 527px;
}
.about-us__content-textbox h1 {
  margin-top: 40px;
  font-weight: 600;
  font-size: 35px;
  line-height: 48px;
  margin-bottom: 24px;
}
.about-us__content-textbox p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #66738f;
}
@media (max-width: 360px) {
  .about-us__content-textbox span {
    font-size: 12px;
  }
  .about-us__content-textbox h1 {
    font-size: 24px;
    line-height: 34px;
  }
  .about-us__content-textbox p {
    font-size: 14px;
    line-height: 25px;
  }
}
.about-us__content-contact {
  margin-left: 123px;
  width: 100%;
  background-color: #f6faff;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .about-us__content-contact {
    margin-left: 0;
    margin-top: 60px;
  }
}
.about-us__content-contact .steps {
  padding: 51px 60px 60px;
  color: #b6d8ff;
  display: flex;
  width: 100%;
}
@media (max-width: 760px) {
  .about-us__content-contact .steps {
    flex-wrap: wrap;
  }
}
.about-us__content-contact .steps .step {
  width: 25%;
  transition: color 300ms linear;
}
@media (max-width: 760px) {
  .about-us__content-contact .steps .step {
    width: 50%;
  }
}
.about-us__content-contact .steps .step__num {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 36px;
  line-height: 46px;
  font-weight: 600;
}
.about-us__content-contact .steps .step__line {
  height: 4px;
  background-color: #b6d8ff;
  margin-top: 12px;
  margin-bottom: 24px;
  transition: background-color 300ms linear;
}
.about-us__content-contact .steps .step__description {
  max-width: 149px;
}
@media (max-width: 760px) {
  .about-us__content-contact .steps .step__description {
    font-size: 12px;
    max-width: 112px;
  }
}
.about-us__content-contact .steps .step_active {
  color: #0c7dff !important;
}
.about-us__content-contact .steps .step_active .step__line {
  background-color: #0c7dff !important;
}
.about-us__content-contact .steps .step:hover {
  cursor: pointer;
  color: #83bdff;
}
.about-us__content-contact .steps .step:hover .step__line {
  background-color: #83bdff;
}
.about-us__content-contact span {
  margin-left: 60px;
  max-width: 500px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}
@media (max-width: 760px) {
  .about-us__content-contact span {
    margin-right: 60px;
  }
}
.about-us__content-contact p {
  color: #66738f;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  max-width: 500px;
  margin-left: 60px;
  margin-bottom: 39px;
}
@media (max-width: 760px) {
  .about-us__content-contact p {
    margin-right: 60px;
  }
}
.about-us__content-contact button {
  margin-bottom: 60px;
  width: 207px;
  height: 58px;
  background-color: #0c7dff;
  border-radius: 8px;
  margin-left: 60px;
  color: white;
  font-weight: 400;
  font-size: 16px;
}
.about-us__content-contact button:hover {
  background-color: white;
  color: #0c7dff;
  border: 1px solid #66738f;
  border-radius: 8px;
}
.about-us img {
  position: relative;
  bottom: 180px;
  left: 320px;
}
@media (max-width: 1024px) {
  .about-us img {
    display: none;
  }
}

.calculator {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 120px;
}
.calculator__content {
  display: flex;
  width: 100%;
}
@media (max-width: 1400px) {
  .calculator__content {
    flex-direction: column-reverse;
  }
}
.calculator__content-calcbox {
  width: 50%;
  border-radius: 40px;
  background-color: #f6faff;
  padding: 34px 51px 46px;
  z-index: 0;
}
@media (max-width: 1400px) {
  .calculator__content-calcbox {
    width: 100%;
    margin-top: 60px;
  }
}
.calculator__content-calcbox .variables span {
  color: #25406b;
  font-weight: 500;
  font-size: 16px;
}
.calculator__content-calcbox .variables .buttonbox {
  margin-top: 12px;
  margin-bottom: 32px;
  display: flex;
}
.calculator__content-calcbox .variables .buttonbox .active {
  background-color: #e8f2fe;
  border-color: #0c7dff;
}
.calculator__content-calcbox .variables .buttonbox button {
  padding: 18px 32px;
  margin-right: 4px;
  font-size: 14px;
  white-space: nowrap;
  background-color: white;
  color: #0c7dff;
  font-weight: 600;
  border: 1px solid #d6dbed;
  border-radius: 8px;
}
.calculator__content-calcbox .variables .buttonbox button:hover {
  border-color: #0c7dff;
}
@media (max-width: 760px) {
  .calculator__content-calcbox .variables .buttonbox {
    flex-wrap: wrap;
  }
  .calculator__content-calcbox .variables .buttonbox button {
    flex-grow: 1;
    padding: 16px;
    margin-top: 12px;
  }
  .calculator__content-calcbox .variables .buttonbox .income {
    order: 3;
  }
  .calculator__content-calcbox .variables .buttonbox .none {
    width: 100%;
  }
  .calculator__content-calcbox .variables .buttonbox .simple {
    width: 50%;
  }
}
@media (max-width: 360px) {
  .calculator__content-calcbox .variables .buttonbox button {
    font-size: 12px;
  }
}
.calculator__content-calcbox .variables .rulerbox {
  max-width: 440px;
  position: relative;
}
.calculator__content-calcbox .variables .rulerbox .range_value {
  margin-top: 24px;
  position: absolute;
  color: #0c7dff;
  font-weight: 600;
  font-size: 16px;
}
.calculator__content-calcbox .variables .rulerbox .range_value::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 36px;
  background-color: #b6d8ff;
  z-index: -1;
  border-radius: 16px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.calculator__content-calcbox .variables .rulerbox .range_value::after {
  content: "";
  position: absolute;
  background-color: #b6d8ff;
  z-index: -1;
  width: 20px;
  height: 14px;
  transform: translateX(-50%) rotate(45deg);
  top: 90%;
  left: 50%;
}
.calculator__content-calcbox .variables .rulerbox .ruler {
  position: relative;
  height: 80px;
  display: flex;
  align-items: flex-end;
}
.calculator__content-calcbox .variables .rulerbox .calc_range {
  width: 100%;
  margin-top: 22px;
  cursor: pointer;
  background: linear-gradient(90deg, #0c7dff 0%, #0c7dff 0%, #e8f2fe 0%, #e8f2fe 100%);
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 20px;
  appearance: none;
  max-height: 10px;
}
.calculator__content-calcbox .variables .rulerbox .calc_range::-webkit-slider-runnable-track {
  height: 10px;
}
.calculator__content-calcbox .variables .rulerbox .calc_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 22px;
  width: 22px;
  border: 2px solid #0c7dff;
  border-radius: 50%;
  outline: 6px solid #b6d8ff;
  background-color: white;
  margin-top: -6px;
}
.calculator__content-calcbox .variables .rulerbox .calc_range::-moz-range-track {
  height: 10px;
}
.calculator__content-calcbox .variables .rulerbox .calc_range::-moz-range-thumb {
  -moz-appearance: none;
  height: 22px;
  width: 22px;
  border: 2px solid #0c7dff;
  border-radius: 50%;
  background-color: white;
  margin-top: -6px;
}
.calculator__content-calcbox .variables .rulerbox .ticks {
  margin-top: 13px;
}
.calculator__content-calcbox .variables .rulerbox .ticks span {
  color: #bdc5da;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
}
.calculator__content-calcbox .variables .rulerbox .ticks .tick {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #bdc5da;
}
.calculator__content-calcbox .variables .rulerbox .ticks .large {
  font-weight: 600;
  font-size: 16px;
}
.calculator__content-calcbox .sum {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
  align-items: center;
}
.calculator__content-calcbox .sum .total span {
  font-weight: 600;
  color: #25406b;
  font-size: 20px;
  line-height: 32px;
}
.calculator__content-calcbox .sum .total p {
  color: #0c7dff;
  font-size: 16px;
  font-weight: 500;
}
.calculator__content-calcbox .sum .total .answer {
  font-weight: 600;
  color: #0c7dff;
  font-size: 40px;
  line-height: 46px;
  margin-right: 12px;
}
.calculator__content-calcbox .sum button {
  padding: 18px 32px;
  max-height: 58px;
  background-color: #0c7dff;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
}
.calculator__content-calcbox .sum button:hover {
  background-color: white;
  color: #0c7dff;
  border: 1px solid #66738f;
  border-radius: 8px;
}
@media (max-width: 760px) {
  .calculator__content-calcbox .sum {
    flex-direction: column;
  }
  .calculator__content-calcbox .sum button {
    margin-top: 40px;
  }
}
@media (max-width: 360px) {
  .calculator__content-calcbox .sum .total .answer {
    font-size: 24px;
  }
}
.calculator__content-textbox {
  width: 50%;
  padding-left: 61px;
  margin-top: 64px;
}
@media (max-width: 1024px) {
  .calculator__content-textbox {
    width: 100%;
    padding-left: 0;
  }
}
.calculator__content-textbox h1 {
  margin-top: 40px;
  font-weight: 600;
  font-size: 35px;
  line-height: 48px;
  color: #25406b;
  margin-bottom: 24px;
}
.calculator__content-textbox p {
  color: #66738f;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  max-width: 500px;
}
@media (max-width: 360px) {
  .calculator__content-textbox span {
    font-size: 12px;
  }
  .calculator__content-textbox h1 {
    font-size: 24px;
    line-height: 34px;
  }
  .calculator__content-textbox p {
    font-size: 14px;
    line-height: 25px;
  }
}

.reviews {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 120px;
}
.reviews__content {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.reviews__content-textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__content-textbox h1 {
  margin-top: 40px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 35px;
  line-height: 48px;
  color: #25406b;
}
.reviews__content-textbox p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #66738f;
  max-width: 500px;
}
@media (max-width: 360px) {
  .reviews__content-textbox span {
    font-size: 12px;
  }
  .reviews__content-textbox h1 {
    font-size: 24px;
    line-height: 34px;
  }
  .reviews__content-textbox p {
    font-size: 14px;
    line-height: 25px;
  }
}
.reviews__content-reviewbox {
  width: 100%;
}
@media (max-width: 760px) {
  .reviews__content-reviewbox {
    display: none;
  }
}
.reviews__content-reviewbox .swiper-wrapper {
  padding-bottom: 60px;
  padding-top: 60px;
}
.reviews__content-reviewbox .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: space-around;
}
.reviews__content-reviewbox .review {
  padding: 32px 60px;
  border-radius: 25px;
  text-align: left;
}
.reviews__content-reviewbox .review p {
  max-width: 560px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 36px;
  color: #66738f;
}
.reviews__content-reviewbox .review .name {
  color: #25406b;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}
.reviews__content-reviewbox .review .company {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #66738f;
}
.reviews__content-reviewbox .review__bottom {
  display: flex;
}
.reviews__content-reviewbox .review__bottom-img {
  background-color: #0c7dff;
  margin-right: 24px;
  height: 50px;
  width: 50px;
  border-radius: 8px;
}
.reviews__content-reviewbox .review__bottom-text {
  display: flex;
  flex-direction: column;
}
.reviews__content-reviewbox_mobile {
  display: none;
}
.reviews__content-reviewbox_mobile .review {
  padding: 32px 32px;
  text-align: left;
  max-width: 678px;
}
.reviews__content-reviewbox_mobile .review .body__wrapper {
  border-radius: 25px;
  padding: 20px 32px;
}
.reviews__content-reviewbox_mobile .review p {
  max-width: 560px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 36px;
  color: #66738f;
}
.reviews__content-reviewbox_mobile .review .name {
  color: #25406b;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}
.reviews__content-reviewbox_mobile .review .company {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #66738f;
}
.reviews__content-reviewbox_mobile .review__bottom {
  display: flex;
}
.reviews__content-reviewbox_mobile .review__bottom-img {
  background-color: #0c7dff;
  margin-right: 24px;
  height: 50px;
  width: 50px;
  border-radius: 8px;
}
.reviews__content-reviewbox_mobile .review__bottom-text {
  display: flex;
  flex-direction: column;
}
@media (max-width: 360px) {
  .reviews__content-reviewbox_mobile .review p {
    font-size: 14px;
    line-height: 25px;
  }
  .reviews__content-reviewbox_mobile .review .name {
    font-size: 16px;
  }
  .reviews__content-reviewbox_mobile .review .company {
    font-size: 12px;
    line-height: normal;
  }
}
.reviews__content-reviewbox_mobile .swiper-wrapper {
  padding-bottom: 60px;
  padding-top: 60px;
  max-height: 100%;
  height: 100%;
  display: flex;
}
.reviews__content-reviewbox_mobile .swiper-wrapper .swiper-slide {
  width: auto;
  flex-shrink: 0;
  display: block;
  height: 100%;
  max-height: 100%;
}
@media (max-width: 760px) {
  .reviews__content-reviewbox_mobile {
    display: block;
  }
}
.reviews__content .reviewbox-pagination {
  margin-left: auto;
  margin-right: auto;
}

.certificates {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 120px;
}
.certificates__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.certificates__content h1 {
  font-weight: 600;
  font-size: 35px;
  line-height: 48px;
  color: #25406b;
  margin-bottom: 60px;
  margin-top: 40px;
}
@media (max-width: 360px) {
  .certificates__content span {
    font-size: 12px;
  }
  .certificates__content h1 {
    font-size: 24px;
    line-height: 34px;
  }
  .certificates__content p {
    font-size: 14px;
    line-height: 25px;
  }
}
.certificates__box {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.certificates__box-images {
  width: 100%;
  display: flex;
  margin-top: 40px;
  max-width: 1076px;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .certificates__box-images {
    width: 107%;
  }
  .certificates__box-images img {
    transform: scale(0.9);
  }
}
@media (max-width: 760px) {
  .certificates__box-images {
    margin-right: 100px;
    margin-left: 100px;
  }
  .certificates__box-images > div:nth-child(2n) {
    display: none;
  }
}
@media (max-width: 410px) {
  .certificates__box-images {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .certificates__box-images img {
    max-width: 142px;
  }
}
.certificates__box .background {
  position: absolute;
  background-color: #f6faff;
  width: 100%;
  max-width: 754px;
  max-height: 355px;
  height: 100%;
  border-radius: 40px;
  z-index: -1;
  top: 0;
}
@media (max-width: 410px) {
  .certificates__box .background {
    max-height: 269px;
  }
}

.blog {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 120px;
}
.blog__content {
  width: 100%;
}
@media (max-width: 360px) {
  .blog__content span {
    font-size: 12px;
  }
}
.blog__content-top {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 60px;
}
@media (max-width: 760px) {
  .blog__content-top {
    flex-direction: column;
  }
  .blog__content-top button {
    margin-top: 20px;
  }
}
.blog__content-top h1 {
  font-weight: 600;
  color: #25406b;
  font-size: 35px;
  line-height: 48px;
}
.blog__content-top button {
  width: 286px;
  height: 58px;
}
.blog__content-top button:hover {
  background-color: #e8f2fe;
}
.blog__content-top button i {
  color: #0c7dff;
  margin-left: 12px;
  font-size: 100%;
  vertical-align: middle;
}
@media (max-width: 360px) {
  .blog__content-top h1 {
    font-size: 24px;
    line-height: 34px;
  }
}
.blog__content-articles {
  display: flex;
  justify-content: space-between;
}
.blog__content-articles .article {
  max-width: 444px;
  padding: 32px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}
.blog__content-articles .article img {
  max-width: 380px;
  max-height: 290px;
  border-radius: 20px;
  margin-bottom: 28px;
}
.blog__content-articles .article span {
  text-transform: none;
  font-size: 20px;
  line-height: 32px;
  color: #25406b;
}
.blog__content-articles .article p {
  max-width: 350px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-top: 20px;
  margin-bottom: 28px;
  color: #66738f;
}
.blog__content-articles .article button {
  visibility: hidden;
  font-weight: 600;
  font-size: 16px;
  max-width: 85px;
  color: #0c7dff;
  background-color: white;
}
.blog__content-articles .article button i {
  color: #0c7dff;
  margin-left: 10px;
  font-size: 11px;
  vertical-align: middle;
}
.blog__content-articles .article:hover {
  cursor: pointer;
}
.blog__content-articles .article:hover span {
  color: #0c7dff;
}
.blog__content-articles .article:hover button {
  visibility: visible;
}
@media (max-width: 1024px) {
  .blog__content-articles .article {
    width: 50%;
  }
  .blog__content-articles .article:last-child {
    display: none;
  }
  .blog__content-articles .article img {
    max-width: 314px;
    max-height: 240px;
  }
  .blog__content-articles .article span {
    font-size: 18px;
  }
  .blog__content-articles .article p {
    font-size: 14px;
    max-width: 282px;
  }
}
@media (max-width: 760px) {
  .blog__content-articles .article {
    width: 100%;
  }
  .blog__content-articles .article:not(.blog__content-articles .article:first-child) {
    display: none;
  }
}

.faq {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 150px;
}
.faq__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.faq__content h1 {
  font-size: 35px;
  font-weight: 600;
  line-height: 48px;
  color: #25406b;
  margin-bottom: 60px;
}
@media (max-width: 360px) {
  .faq__content h1 {
    font-size: 24px;
    line-height: 34px;
  }
}
.faq__content-background {
  background-color: #f6faff;
  border-radius: 40px;
  max-width: 920px;
  position: absolute;
  height: 72%;
  width: 100%;
  z-index: -1;
  margin-top: 148px;
}
.faq__content-questions .question {
  max-width: 800px;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: white;
}
.faq__content-questions .question__title {
  padding: 26px 40px;
  color: #25406b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq__content-questions .question__title span {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
.faq__content-questions .question__title i {
  color: inherit;
  margin-left: 0;
  font-size: 12px;
  vertical-align: middle;
  padding-top: 4px;
  transition: transform 500ms;
}
.faq__content-questions .question__answer {
  display: none;
  overflow: hidden;
  border-radius: 20px;
}
.faq__content-questions .question__answer-textbox {
  padding: 0 40px 26px;
  color: #66738f;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.faq__content-questions .question:hover {
  border-color: #0c7dff;
  cursor: pointer;
}
.faq__content-questions .question:hover i {
  color: #0c7dff;
}
.faq__content-questions .question_active i {
  transform: rotate(180deg);
}
.faq__content-questions .question_active span {
  color: #0c7dff;
}
.faq__content-questions .question:not(.faq__content-questions .question:last-child) {
  margin-bottom: 20px;
}

.consult {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 100px;
}
.consult__content {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .consult__content {
    flex-direction: column;
    align-items: center;
  }
}
.consult__content-background {
  background-color: #f6faff;
  border-radius: 40px;
  width: 100%;
  max-height: 422px;
  height: 100%;
  position: absolute;
  z-index: -1;
}
@media (max-width: 1024px) {
  .consult__content-background {
    max-height: none;
  }
}
.consult__content-textbox {
  width: 50%;
  padding: 60px 0 60px 100px;
}
@media (max-width: 1024px) {
  .consult__content-textbox {
    width: 100%;
    padding: 60px 60px 60px 50px;
  }
}
.consult__content-textbox h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 24px;
  color: #25406b;
}
.consult__content-textbox p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #66738f;
  max-width: 514px;
  margin-bottom: 40px;
}
.consult__content-textbox button {
  width: 212px;
  height: 58px;
}
.consult__content-textbox button:hover {
  background-color: #0c7dff;
  color: white;
}
@media (max-width: 360px) {
  .consult__content-textbox h1 {
    font-size: 24px;
    line-height: 34px;
  }
  .consult__content-textbox p {
    font-size: 14px;
    line-height: 25px;
  }
}
.consult__content-form {
  width: 50%;
  margin: 60px 100px 60px 0;
  max-width: 420px;
}
@media (max-width: 1024px) {
  .consult__content-form {
    width: 100%;
    margin: 0 50px 50px;
  }
}
.consult__content-form .form__wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  padding: 30px 50px;
  color: #25406b;
}
.consult__content-form .form__wrapper span {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
}
.consult__content-form .form__wrapper input[type=text] {
  width: 100%;
  border: 1px solid #d6dbed;
  border-radius: 12px;
  height: 50px;
  padding: 10px 20px;
  margin-bottom: 24px;
}
.consult__content-form .form__wrapper input[type=text]:focus {
  border-color: #0c7dff;
}
.consult__content-form .form__wrapper input[type=submit] {
  max-width: 154px;
  height: 58px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #0c7dff;
  color: white;
  font-weight: 600;
  font-size: 16px;
}
.consult__content-form .form__wrapper input[type=submit]:disabled {
  cursor: not-allowed;
}
.consult__content-form .form__wrapper input[type=submit]:hover {
  border: 1px solid #d6dbed;
  border-radius: 8px;
  background-color: white;
  color: #0c7dff;
}
.consult__content-form .form__wrapper textarea {
  border: 1px solid #d6dbed;
  border-radius: 12px;
  width: 100%;
  height: 120px;
  padding: 10px 20px;
}
.consult__content-form .form__wrapper textarea:focus {
  border-color: #0c7dff;
}
.consult__content-form .form__wrapper .agreement {
  display: flex;
  margin-top: 24px;
  height: 24px;
  align-items: center;
  margin-bottom: 40px;
}
.consult__content-form .form__wrapper .agreement input {
  border-radius: 4px;
  height: 18px;
  width: 18px;
  cursor: pointer;
}
.consult__content-form .form__wrapper .agreement span {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #66738f;
  margin-left: 10px;
  margin-bottom: 0;
}
.consult__content-form .form__wrapper .agreement a {
  font-weight: 500;
  color: #0c7dff;
}
.consult__content-form .form__wrapper .agreement a:visited {
  color: #0c7dff;
}

.about-company {
  font-family: "Noto Sans", sans-serif;
  margin-top: 100px;
  margin-bottom: 120px;
}
.about-company__content {
  width: 100%;
}
.about-company__textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.about-company__textbox h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 68px;
  margin-bottom: 20px;
  color: #25406b;
}
.about-company__textbox p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  max-width: 595px;
  margin-bottom: 60px;
  color: #66738f;
}
@media (max-width: 760px) {
  .about-company__textbox h1 {
    font-size: 35px;
    line-height: 47px;
  }
  .about-company__textbox p {
    max-width: 292px;
  }
}
.about-company__slider .photo-slide {
  border-radius: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-company__slider .swiper-slide::after {
  content: "";
  display: block;
  padding-bottom: 75%;
}
.about-company__slider-nav {
  display: flex;
  margin-top: 24px;
  align-items: center;
  justify-content: flex-end;
}
.about-company__slider-nav .pagination {
  margin-left: auto;
  margin-right: auto;
}
.about-company__slider-nav-buttonbox {
  display: flex;
  justify-content: space-between;
  width: 132px;
}
.about-company__slider-nav-buttonbox button {
  background-color: white;
  height: 56px;
  width: 56px;
  border: 1px solid #d6dbed;
  border-radius: 50%;
}
.about-company__slider-nav-buttonbox button:hover {
  background-color: #f6faff;
}
.about-company__slider-nav-buttonbox .icon {
  color: #0c7dff;
  margin-left: 0;
  font-size: 16px;
  vertical-align: none;
}

.offer {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 120px;
}
.offer__content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.offer__content-top {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offer__content-top h1 {
  font-size: 35px;
  line-height: 48px;
  color: #25406b;
  font-weight: 600;
  max-width: 477px;
  margin-top: 40px;
  margin-bottom: 24px;
}
.offer__content-top p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #66738f;
  max-width: 500px;
  margin-bottom: 63px;
}
.offer__content-bottom {
  background-color: #f6faff;
  border-radius: 40px;
  max-width: 1024px;
  width: 100%;
  padding: 40px 60px;
}
@media (max-width: 360px) {
  .offer__content-bottom {
    padding: 18px;
  }
}
.offer__content_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
  height: 100%;
}
@media (max-width: 1024px) {
  .offer__content_grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 760px) {
  .offer__content_grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
.offer__content_grid .cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: white;
  border-radius: 25px;
  max-width: 280px;
  max-height: 196px;
  width: 100%;
  height: 100%;
  padding: 20px 28px;
}
.offer__content_grid .cell.blue {
  color: #0c7dff;
}
.offer__content_grid .cell.blue .cell__iconbox {
  background-color: rgba(12, 125, 255, 0.1);
}
.offer__content_grid .cell.lightblue {
  color: #04d2fc;
}
.offer__content_grid .cell.lightblue .cell__iconbox {
  background-color: rgba(4, 210, 252, 0.1);
}
.offer__content_grid .cell.orange {
  color: #ffa05c;
}
.offer__content_grid .cell.orange .cell__iconbox {
  background-color: rgba(255, 160, 92, 0.1);
}
.offer__content_grid .cell.green {
  color: #47d39b;
}
.offer__content_grid .cell.green .cell__iconbox {
  background-color: rgba(71, 211, 155, 0.1);
}
.offer__content_grid .cell.red {
  color: #f5818c;
}
.offer__content_grid .cell.red .cell__iconbox {
  background-color: rgba(245, 129, 140, 0.1);
}
.offer__content_grid .cell.purple {
  color: #6f3cff;
}
.offer__content_grid .cell.purple .cell__iconbox {
  background-color: rgba(111, 60, 255, 0.1);
}
.offer__content_grid .cell span {
  margin-top: 20px;
  color: #25406b;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  max-width: 240px;
}
.offer__content_grid .cell:hover span {
  color: inherit;
}
.offer__content_grid .cell__iconbox {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer__content_grid .cell__iconbox .icon {
  color: inherit;
  margin-left: 0;
  font-size: 20px;
  vertical-align: middle;
}

.one-s {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 120px;
}
.one-s__content {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #f6faff;
  border-radius: 40px;
  padding: 50px 80px 50px 60px;
}
@media (max-width: 1024px) {
  .one-s__content {
    flex-direction: row-reverse;
    padding: 40px;
  }
}
@media (max-width: 760px) {
  .one-s__content {
    flex-direction: column-reverse;
  }
}
.one-s__content-imagebox img {
  max-width: 350px;
  max-height: 300px;
}
.one-s__content-textbox {
  max-width: 624px;
}
.one-s__content-textbox h1 {
  font-size: 35px;
  font-weight: 600;
  color: #25406b;
  line-height: 48px;
  margin-top: 40px;
  margin-bottom: 24px;
}
.one-s__content-textbox p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #66738f;
  margin-bottom: 40px;
  max-width: 500px;
}
.one-s__content-textbox button {
  width: 260px;
  height: 58px;
}
.one-s__content-textbox button:hover {
  background-color: #0c7dff;
  color: white;
}
@media (max-width: 760px) {
  .one-s__content-textbox button {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .one-s__content-textbox {
    max-width: 350px;
  }
  .one-s__content-textbox h1 {
    font-size: 28px;
  }
  .one-s__content-textbox p {
    font-size: 14px;
    max-width: 350px;
  }
}
@media (max-width: 360px) {
  .one-s__content-textbox {
    max-width: 270px;
  }
}

.crew {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 120px;
}
.crew__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.crew__content-textbox h1 {
  font-size: 35px;
  font-weight: 600;
  color: #25406b;
  line-height: 48px;
  margin-top: 40px;
  margin-bottom: 24px;
}
.crew__content-textbox p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #66738f;
  margin-bottom: 60px;
  max-width: 500px;
}
.crew__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
}
@media (max-width: 1024px) {
  .crew__grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 760px) {
  .crew__grid {
    grid-template-columns: 1fr;
  }
}
.crew__grid .cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 410px;
  max-height: 518px;
  padding: 40px 40px 50px;
  border: 2px solid #d6dbed;
  border-radius: 30px;
}
@media (max-width: 1024px) {
  .crew__grid .cell {
    max-width: 370px;
    max-height: 475px;
    padding: 28px 28px 40px;
  }
}
@media (max-width: 360px) {
  .crew__grid .cell {
    max-width: 312px;
    max-height: 397px;
    padding: 20px;
  }
}
.crew__grid .cell:hover {
  cursor: pointer;
  border-color: #0c7dff;
}
.crew__grid .cell__imagebox {
  margin-bottom: 30px;
}
.crew__grid .cell__imagebox img {
  border-radius: 20px;
  max-width: 330px;
  max-height: 330px;
}
@media (max-width: 1024px) {
  .crew__grid .cell__imagebox img {
    max-width: 314px;
    max-height: 314px;
  }
}
@media (max-width: 360px) {
  .crew__grid .cell__imagebox img {
    max-width: 272px;
    max-height: 272px;
  }
}
.crew__grid .cell .name {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 8px;
  color: #25406b;
}
.crew__grid .cell .position {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #66738f;
}

.job {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f6faff;
  padding: 50px 150px;
  max-width: 60%;
  border-radius: 40px;
}
.job h1 {
  font-size: 35px;
  font-weight: 600;
  color: #25406b;
  line-height: 48px;
  margin-top: 40px;
  margin-bottom: 24px;
}
.job p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #66738f;
  margin-bottom: 40px;
  max-width: 500px;
}
.job a {
  font-size: 18px;
  color: white;
  font-weight: 600;
  background-color: #0c7dff;
  padding: 18px 32px;
  border: 1px solid transparent;
  border-radius: 8px;
}
.job a:hover {
  background-color: white;
  color: #0c7dff;
  border-color: #d6dbed;
}

.footer {
  background-color: #f6faff;
  font-family: "Noto Sans", sans-serif;
  color: #25406b;
  width: 100%;
  font-weight: 600;
}
.footer__content {
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;
}
.footer__content .top-part {
  display: flex;
  width: 100%;
  margin-bottom: 58px;
}
@media (max-width: 1024px) {
  .footer__content .top-part {
    flex-wrap: wrap;
  }
}
.footer__content .bottom-part {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.footer__content .bottom-part hr {
  width: 100%;
  background-color: rgba(102, 115, 143, 0.2);
  height: 1px;
}
.footer__content-list {
  display: flex;
  flex-direction: column;
  margin-top: 58px;
}
.footer__content-list span {
  margin-bottom: 32px;
  text-transform: uppercase;
  color: #66738f;
  font-size: 14px;
}
.footer__content-list a {
  color: inherit;
}
.footer__content-list a:not(a:last-child) {
  margin-bottom: 28px;
}
.footer__content-list a:visited {
  color: inherit;
}
.footer__content-list a:hover {
  color: #0c7dff;
}
.footer__content-services {
  margin-right: 107px;
}
.footer__content-vacancies {
  max-width: 500px;
  margin-left: auto;
  margin-top: 58px;
}
@media (max-width: 1024px) {
  .footer__content-vacancies {
    margin-left: 0;
  }
}
.footer__content-vacancies span {
  text-transform: uppercase;
  color: #66738f;
  font-size: 14px;
}
.footer__content-vacancies p {
  margin-top: 32px;
  color: #66738f;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.footer__content-vacancies a {
  font-weight: 600;
  color: #25406b;
}
.footer__content-vacancies a:visited {
  color: inherit;
}
.footer__content-vacancies a:hover {
  color: #0c7dff;
}
.footer__content-end {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 360px) {
  .footer__content-end {
    flex-wrap: wrap;
    margin-top: 0;
  }
  .footer__content-end span {
    margin-top: 35px;
  }
}
.footer__content-end span {
  font-weight: 400;
  font-size: 14px;
  color: #66738f;
}
@media (max-width: 1024px) {
  .footer__content-end span {
    max-width: 274px;
    font-size: 12px;
  }
}
.footer__content-end img {
  position: absolute;
  height: 34px;
  width: 172px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 760px) {
  .footer__content-end img {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
