@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.calculator__content-textbox span, .about-us__content-textbox span, .services__content span, .service__content span, .company-info__content span {
  color: #0c7dff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

.lower {
  margin-top: 20px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1439px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 12px;
}
@media (max-width: 1044px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 380px) {
  .container {
    max-width: 360px;
  }
}

.header {
  background-color: #f6faff;
  font-family: "Noto Sans";
  color: #25406b;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
}
.header__content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.header__content-address {
  margin-left: auto;
  margin-right: 60px;
}
.header__icon {
  color: #0c7dff;
  margin-left: 12px;
  font-size: 20px;
  vertical-align: middle;
}

.menu {
  height: 67px;
  margin-top: 43px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  font-family: "Noto Sans";
}
.menu__dropdown {
  position: relative;
}
.menu__dropdown-icon {
  color: inherit;
  margin-left: 10px;
  font-size: 7px;
  vertical-align: middle;
}
.menu__dropdown-icon_deployed {
  display: none;
}
.menu__dropdown-icon_chart {
  color: #f5818c;
  margin-left: 0;
  font-size: 20px;
  vertical-align: middle;
  background-color: rgba(245, 129, 140, 0.1);
}
.menu__dropdown-icon_money {
  color: #47d39b;
  margin-left: 0;
  font-size: 20px;
  vertical-align: middle;
  background-color: rgba(71, 211, 155, 0.1);
}
.menu__dropdown-icon_arrow {
  color: #6f3cff;
  margin-left: 0;
  font-size: 20px;
  vertical-align: middle;
  background-color: rgba(111, 60, 255, 0.1);
}
.menu__dropdown-icon_question {
  color: #ffa05c;
  margin-left: 0;
  font-size: 20px;
  vertical-align: middle;
  background-color: rgba(255, 160, 92, 0.1);
}
.menu__dropdown-icon_tablet {
  color: #04d2fc;
  margin-left: 0;
  font-size: 20px;
  vertical-align: middle;
  background-color: rgba(4, 210, 252, 0.1);
}
.menu__dropdown-icon_check {
  color: #0c7dff;
  margin-left: 0;
  font-size: 20px;
  vertical-align: middle;
  background-color: rgba(12, 125, 255, 0.1);
}
.menu__dropdown:hover .menu__dropdown-wrapper {
  display: block;
}
.menu__dropdown:hover i.menu__dropdown-icon_deployed {
  display: inline-block;
}
.menu__dropdown:hover i.menu__dropdown-icon_minimized {
  display: none;
}
.menu__dropdown-wrapper {
  display: none;
  position: absolute;
  width: auto;
  left: -360%;
}
.menu__dropdown-category {
  width: 249px;
}
.menu__dropdown-category p {
  font-weight: 400;
  font-size: 12px;
  margin-top: 8px;
  color: #66738f;
  line-height: 18px;
}
.menu__dropdown-content {
  display: grid;
  margin-top: 16px;
  grid-template-columns: 1fr 1fr;
  width: 716px;
  font-size: 16px;
  font-weight: 600;
  color: #25406b;
  box-shadow: 1px 1px 20px rgba(71, 71, 71, 0.1);
  border-radius: 16px;
  background-color: white;
}
.menu__dropdown-item {
  margin: 12px 12px;
  display: flex;
  border-radius: 20px;
  align-items: center;
}
.menu__dropdown-item:hover {
  background-color: #f6faff;
  color: #0c7dff;
  cursor: pointer;
}
.menu__dropdown-item-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 20px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__navigation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu__navigation-number {
  font-size: 20px;
  color: #0c7dff;
  height: 100%;
  display: flex;
  align-items: center;
}
.menu__navigation-number:hover {
  border: 1px solid #d6dbed;
  border-radius: 8px;
  padding-right: 20px;
  padding-left: 20px;
}
.menu__navigation-number a {
  color: #0c7dff;
}
.menu__navigation-link {
  color: #25406b;
}
.menu__navigation-link:hover {
  cursor: pointer;
  color: #0c7dff;
}
.menu__navigation-links {
  margin: auto;
  display: flex;
  max-width: 500px;
  width: 100%;
  justify-content: space-around;
}
.menu__navigation-icon {
  color: inherit;
  margin-left: 10px;
  font-size: 7px;
  vertical-align: middle;
}
.menu__icon {
  color: #0c7dff;
  margin-left: 15px;
  font-size: 20px;
  vertical-align: middle;
}

.info {
  height: 720px;
}

.banner {
  font-family: "Noto Sans";
  color: #25406b;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
.banner__textbox {
  box-shadow: 4px 4px 4px -1px #e6eaf5, -4px 4px 4px -1px #e6eaf5;
  background-color: #f6faff;
  border-radius: 40px;
  width: 1340px;
  height: 464px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 77px;
}
.banner__textbox h1 {
  font-size: 50px;
  font-weight: 600;
}
.banner__textbox p {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #66738f;
  width: 595px;
  padding: 28px;
  font-weight: 400;
}
.banner__buttonbox button {
  font-size: 16px;
  color: #0c7dff;
  font-weight: 600;
  background-color: white;
  height: 58px;
  width: 201px;
  margin: 10px;
  border: 1px solid #d6dbed;
  border-radius: 10px;
}
.banner__buttonbox button:hover {
  border-color: #0c7dff;
}
.banner__image_linechart {
  top: -340px;
  right: 27px;
  padding: 5px;
  position: relative;
}
.banner__image_circlechart {
  position: relative;
  top: -133px;
  right: 100px;
}
.banner__image_dotchart {
  position: relative;
  top: -100px;
  right: 50px;
}
.banner__image_barchart {
  top: -133px;
  position: relative;
}
.banner__image_histogram {
  position: relative;
  top: -665px;
  left: 1197px;
}

.company-info {
  margin-top: 130px;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  font-family: "Noto Sans";
}
.company-info__content {
  width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.company-info__content h2 {
  font-size: 35px;
  font-weight: 600;
  color: #25406b;
  line-height: 48px;
  max-width: 750px;
  text-align: center;
  margin-top: 40px;
}
.company-info__content h2 b {
  color: #0c7dff;
}
.company-info__switcher {
  margin-top: 75px;
  margin-bottom: 75px;
  max-width: 1134px;
}
.company-info__switcher .active {
  color: #0c7dff !important;
  background-color: #f6faff !important;
}
.company-info__button {
  padding: 18px 30px;
  background-color: white;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #25406b;
}
.company-info__button:hover {
  color: #0c7dff;
}
.company-info__contentbox {
  width: 100%;
  display: flex;
  align-items: center;
}
.company-info__contentbox .active {
  display: block;
}
.company-info__textbox {
  width: 100%;
  display: none;
}
.company-info__textbox-item {
  max-width: 580px;
  padding: 30px 40px;
  border-radius: 20px;
}
.company-info__textbox-item:hover {
  box-shadow: 7px 7px 60px #f2f3f6;
}
.company-info__textbox-item:hover span {
  color: #0c7dff;
}
.company-info__textbox-item span {
  color: #25406b;
  height: 32px;
  font-size: 20px;
  font-weight: 600;
  text-transform: none;
  max-width: 500px;
}
.company-info__textbox-item p {
  margin-top: 20px;
  color: #25406b;
  font-size: 16px;
  font-weight: normal;
  max-width: 500px;
}

.service {
  font-family: "Noto Sans";
  position: relative;
  margin-bottom: 140px;
}
.service__background {
  position: absolute;
  background-color: #f6faff;
  border-radius: 40px;
  width: 80%;
  height: 521px;
  z-index: -1;
  max-width: 1162px;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
}
.service__content h1 {
  margin-top: 40px;
  font-size: 35px;
  line-height: 48px;
  font-weight: 600;
}
.service__content-details {
  display: flex;
  justify-content: space-between;
}
.service__content-details-box {
  max-width: 600px;
}
.service__content-details-box button {
  font-size: 16px;
  color: #0c7dff;
  font-weight: 600;
  background-color: white;
  height: 58px;
  width: 201px;
  margin: 60px 25px;
  border: 1px solid #d6dbed;
  border-radius: 10px;
}
.service__content-details-box button .icon {
  color: #0c7dff;
  margin-left: 12px;
  font-size: 100%;
  vertical-align: middle;
}
.service__content-details-box button:hover {
  background-color: #e8f2fe;
}
.service__content-details-slider .textbox {
  max-width: 600px;
  background-color: white;
  border-radius: 20px;
  padding: 50px 40px;
}
.service__content-details-slider .textbox p {
  max-width: 500px;
  font-size: 16px;
  color: #66738f;
  line-height: 28px;
}
.service__content-details-slider-nav {
  display: flex;
  justify-content: flex-end;
}
.service__content-details-slider-nav button {
  background-color: white;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  margin-top: 11px;
  margin-left: 20px;
  border: 1px solid #d6dbed;
  border-radius: 50%;
}
.service__content-details-slider-nav button:hover {
  background-color: #f6faff;
}
.service__content-details-slider-nav .pagination {
  display: flex;
  max-width: 109px;
  align-items: center;
  margin-right: 83px;
}
.service__content-details-slider-nav .pagination .swiper-pagination-bullet {
  background-color: #bdc5da;
  border-radius: 10px;
  transition: 300ms width linear, 300ms background-color linear;
}
.service__content-details-slider-nav .pagination .swiper-pagination-bullet-active {
  background-color: #bdc5da;
  width: 37px;
}
.service__content-details-slider-nav .icon {
  color: #0c7dff;
  margin-left: 0;
  font-size: 16px;
  vertical-align: none;
}

.photo-slider {
  height: 324px;
  margin-top: 80px;
}
.photo-slider .photo-slide {
  border-radius: 20px;
}

.services {
  font-family: "Noto Sans";
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}
.services__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__content h1 {
  font-weight: 600;
  line-height: 48px;
  font-size: 35px;
  margin-top: 40px;
}
.services__content p {
  font-weight: 400;
  line-height: 28px;
  font-size: 16px;
  max-width: 500px;
  margin-top: 24px;
  color: #66738f;
}
.services__content-categories {
  margin-top: 60px;
  margin-bottom: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px 65px;
  width: 100%;
}
.services__content .category {
  border: 1px solid transparent;
  border-radius: 0;
  padding-top: 30px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0 11px 28px 1px #e6eaf5;
}
.services__content .category .icon {
  border-radius: 50%;
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
}
.services__content .category .icon_chart {
  color: #f5818c;
  margin-left: 0;
  font-size: 30px;
  vertical-align: middle;
  background-color: rgba(245, 129, 140, 0.1);
}
.services__content .category .icon_round {
  color: #6f3cff;
  margin-left: 0;
  font-size: 30px;
  vertical-align: middle;
  background-color: rgba(111, 60, 255, 0.1);
}
.services__content .category .icon_tablet {
  color: #04d2fc;
  margin-left: 0;
  font-size: 30px;
  vertical-align: middle;
  background-color: rgba(4, 210, 252, 0.1);
}
.services__content .category .icon_money {
  color: #47d39b;
  margin-left: 0;
  font-size: 30px;
  vertical-align: middle;
  background-color: rgba(71, 211, 155, 0.1);
}
.services__content .category .icon_question {
  color: #ffa05c;
  margin-left: 0;
  font-size: 30px;
  vertical-align: middle;
  background-color: rgba(255, 160, 92, 0.1);
}
.services__content .category .icon_check {
  color: #0c7dff;
  margin-left: 0;
  font-size: 20px;
  vertical-align: middle;
  background-color: rgba(12, 125, 255, 0.1);
}
.services__content .category span {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-transform: none;
  color: #25406b;
}
.services__content .category p {
  max-width: 340px;
}
.services__content .category_count:hover {
  border-color: #f5818c;
}
.services__content .category_recovery:hover {
  border-color: #6f3cff;
}
.services__content .category_report:hover {
  border-color: #04d2fc;
}
.services__content .category_salary:hover {
  border-color: #47d39b;
}
.services__content .category_consult:hover {
  border-color: #ffa05c;
}
.services__content .category_ltd:hover {
  border-color: #0c7dff;
}
.services__content .category:hover {
  cursor: pointer;
}
.services__content .category:hover .chart {
  color: #f5818c;
}
.services__content .category:hover .round {
  color: #6f3cff;
}
.services__content .category:hover .tablet {
  color: #04d2fc;
}
.services__content .category:hover .money {
  color: #47d39b;
}
.services__content .category:hover .question {
  color: #ffa05c;
}
.services__content .category:hover .check {
  color: #0c7dff;
}

.about-us {
  font-family: "Noto Sans";
  margin-bottom: 120px;
  max-height: 535px;
}
.about-us__content {
  display: flex;
  width: 100%;
}
.about-us__content-textbox {
  margin-top: 64px;
  max-width: 527px;
}
.about-us__content-textbox h1 {
  margin-top: 40px;
  font-weight: 600;
  font-size: 35px;
  line-height: 48px;
  margin-bottom: 24px;
}
.about-us__content-textbox p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #66738f;
}
.about-us__content-contact {
  margin-left: 123px;
  width: 100%;
  background-color: #f6faff;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
}
.about-us__content-contact .steps {
  margin: 51px 60px 60px;
  color: #b6d8ff;
  display: flex;
  width: 100%;
  max-width: 650px;
}
.about-us__content-contact .steps .step {
  width: 25%;
  transition: color 300ms linear;
}
.about-us__content-contact .steps .step__num {
  font-family: Source Sans Pro;
  font-size: 36px;
  line-height: 46px;
  font-weight: 600;
}
.about-us__content-contact .steps .step__line {
  height: 4px;
  background-color: #b6d8ff;
  margin-top: 12px;
  margin-bottom: 24px;
  transition: background-color 300ms linear;
}
.about-us__content-contact .steps .step__description {
  max-width: 149px;
}
.about-us__content-contact .steps .step_active {
  color: #0c7dff !important;
}
.about-us__content-contact .steps .step_active .step__line {
  background-color: #0c7dff !important;
}
.about-us__content-contact .steps .step:hover {
  cursor: pointer;
  color: #83bdff;
}
.about-us__content-contact .steps .step:hover .step__line {
  background-color: #83bdff;
}
.about-us__content-contact span {
  margin-left: 60px;
  max-width: 500px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}
.about-us__content-contact p {
  color: #66738f;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  max-width: 500px;
  margin-left: 60px;
  margin-bottom: 39px;
}
.about-us__content-contact button {
  margin-bottom: 60px;
  width: 207px;
  height: 58px;
  background-color: #0c7dff;
  border-radius: 8px;
  margin-left: 60px;
  color: white;
  font-weight: 400;
  font-size: 16px;
}
.about-us__content-contact button:hover {
  background-color: white;
  color: #0c7dff;
  border: 1px solid #66738f;
  border-radius: 8px;
}
.about-us img {
  position: relative;
  bottom: 180px;
  left: 320px;
}

.calculator {
  font-family: "Noto Sans";
  margin-bottom: 120px;
}
.calculator__content {
  display: flex;
  width: 100%;
}
.calculator__content-calcbox {
  width: 50%;
  border-radius: 40px;
  background-color: #f6faff;
  padding: 34px 51px 46px;
}
.calculator__content-calcbox .variables span {
  color: #25406b;
  font-weight: 500;
  font-size: 16px;
}
.calculator__content-calcbox .variables .buttonbox {
  margin-top: 12px;
  margin-bottom: 32px;
  display: flex;
}
.calculator__content-calcbox .variables .buttonbox .active {
  background-color: #e8f2fe;
  border-color: #0c7dff;
}
.calculator__content-calcbox .variables .buttonbox button {
  padding: 18px 32px;
  margin-right: 4px;
  font-size: 14px;
  white-space: nowrap;
  background-color: white;
  color: #0c7dff;
  font-weight: 600;
  border: 1px solid #d6dbed;
  border-radius: 8px;
}
.calculator__content-calcbox .variables .buttonbox button:hover {
  border-color: #0c7dff;
}
.calculator__content-calcbox .sum {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
  align-items: center;
}
.calculator__content-calcbox .sum .total span {
  font-weight: 600;
  color: #25406b;
  font-size: 20px;
  line-height: 32px;
}
.calculator__content-calcbox .sum .total p {
  color: #0c7dff;
  font-size: 16px;
  font-weight: 500;
}
.calculator__content-calcbox .sum .total .answer {
  font-weight: 600;
  color: #0c7dff;
  font-size: 40px;
  line-height: 46px;
  margin-right: 12px;
}
.calculator__content-calcbox .sum button {
  padding: 18px 32px;
  max-height: 58px;
  background-color: #0c7dff;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
}
.calculator__content-calcbox .sum button:hover {
  background-color: white;
  color: #0c7dff;
  border: 1px solid #66738f;
  border-radius: 8px;
}
.calculator__content-textbox {
  width: 50%;
  padding-left: 61px;
  margin-top: 64px;
}
.calculator__content-textbox h1 {
  margin-top: 40px;
  font-weight: 600;
  font-size: 35px;
  line-height: 48px;
  color: #25406b;
  margin-bottom: 24px;
}
.calculator__content-textbox p {
  color: #66738f;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  max-width: 500px;
}

/*# sourceMappingURL=style.css.map */
