@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1439px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 12px;
}
@media (max-width: 1044px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 380px) {
  .container {
    max-width: 360px;
  }
}

.header {
  background-color: #f6faff;
  font-family: "Noto Sans";
  color: #25406b;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
}
.header__content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.header__content-address {
  margin-left: auto;
  margin-right: 60px;
}
.header__icon {
  color: #0c7dff;
  margin-right: 12px;
  font-size: 20px;
  vertical-align: middle;
}

.menu {
  height: 67px;
  margin-top: 43px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  font-family: "Noto Sans";
}
.menu__dropdown {
  position: relative;
}
.menu__dropdown-icon {
  color: inherit;
  margin-right: 10px;
  font-size: 7px;
  vertical-align: middle;
}
.menu__dropdown-icon_deployed {
  display: none;
}
.menu__dropdown-icon_chart {
  color: #f5818c;
  margin-right: 0;
  font-size: 20px;
  vertical-align: middle;
  background-color: rgba(245, 129, 140, 0.1);
}
.menu__dropdown-icon_money {
  color: #47d39b;
  margin-right: 0;
  font-size: 20px;
  vertical-align: middle;
  background-color: rgba(71, 211, 155, 0.1);
}
.menu__dropdown-icon_arrow {
  color: #6f3cff;
  margin-right: 0;
  font-size: 20px;
  vertical-align: middle;
  background-color: rgba(111, 60, 255, 0.1);
}
.menu__dropdown-icon_question {
  color: #ffa05c;
  margin-right: 0;
  font-size: 20px;
  vertical-align: middle;
  background-color: rgba(255, 160, 92, 0.1);
}
.menu__dropdown-icon_tablet {
  color: #04d2fc;
  margin-right: 0;
  font-size: 20px;
  vertical-align: middle;
  background-color: rgba(4, 210, 252, 0.1);
}
.menu__dropdown-icon_check {
  color: #0c7dff;
  margin-right: 0;
  font-size: 20px;
  vertical-align: middle;
  background-color: rgba(12, 125, 255, 0.1);
}
.menu__dropdown:hover .menu__dropdown-wrapper {
  display: block;
}
.menu__dropdown:hover i.menu__dropdown-icon_deployed {
  display: inline-block;
}
.menu__dropdown:hover i.menu__dropdown-icon_minimized {
  display: none;
}
.menu__dropdown-wrapper {
  display: none;
  position: absolute;
  width: auto;
  left: -360%;
}
.menu__dropdown-category {
  width: 249px;
}
.menu__dropdown-category p {
  font-weight: 400;
  font-size: 12px;
  margin-top: 8px;
  color: #66738f;
  line-height: 18px;
}
.menu__dropdown-content {
  display: grid;
  margin-top: 16px;
  grid-template-columns: 1fr 1fr;
  width: 716px;
  font-size: 16px;
  font-weight: 600;
  color: #25406b;
  box-shadow: 1px 1px 20px rgba(71, 71, 71, 0.1);
  border-radius: 16px;
  background-color: white;
}
.menu__dropdown-item {
  margin: 12px 12px;
  display: flex;
  border-radius: 20px;
  align-items: center;
}
.menu__dropdown-item:hover {
  background-color: #f6faff;
  color: #0c7dff;
  cursor: pointer;
}
.menu__dropdown-item-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 20px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__navigation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu__navigation-number {
  font-size: 20px;
  color: #0c7dff;
  height: 100%;
  display: flex;
  align-items: center;
}
.menu__navigation-number:hover {
  border: 1px solid #e8f2fe;
  border-radius: 8px;
  padding-right: 20px;
  padding-left: 20px;
}
.menu__navigation-number a {
  color: #0c7dff;
}
.menu__navigation-link {
  color: #25406b;
}
.menu__navigation-link:hover {
  cursor: pointer;
  color: #0c7dff;
}
.menu__navigation-links {
  margin: auto;
  display: flex;
  max-width: 500px;
  width: 100%;
  justify-content: space-around;
}
.menu__navigation-icon {
  color: inherit;
  margin-right: 10px;
  font-size: 7px;
  vertical-align: middle;
}
.menu__icon {
  color: #0c7dff;
  margin-right: 15px;
  font-size: 20px;
  vertical-align: middle;
}

.info {
  height: 720px;
}

.banner {
  font-family: "Noto Sans";
  color: #25406b;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
.banner__textbox {
  box-shadow: 4px 4px 4px -1px #e6eaf5, -4px 4px 4px -1px #e6eaf5;
  background-color: #f6faff;
  border-radius: 40px;
  width: 1340px;
  height: 464px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 77px;
}
.banner__textbox h1 {
  font-size: 50px;
  font-weight: 600;
}
.banner__textbox p {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #66738f;
  width: 595px;
  padding: 28px;
  font-weight: 400;
}
.banner__buttonbox button {
  font-size: 16px;
  color: #0c7dff;
  font-weight: 600;
  background-color: white;
  height: 58px;
  width: 201px;
  margin: 10px;
  border: 1px solid #d6dbed;
  border-radius: 10px;
}
.banner__buttonbox button:hover {
  border-color: #0c7dff;
}
.banner__image_linechart {
  top: -340px;
  right: 27px;
  padding: 5px;
  position: relative;
}
.banner__image_circlechart {
  position: relative;
  top: -133px;
  right: 100px;
}
.banner__image_dotchart {
  position: relative;
  top: -100px;
  right: 50px;
}
.banner__image_barchart {
  top: -133px;
  position: relative;
}
.banner__image_histogram {
  position: relative;
  top: -665px;
  left: 1197px;
}

.company-info {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  font-family: "Noto Sans";
}
.company-info__content {
  width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.company-info__content span {
  color: #0c7dff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
.company-info__content h2 {
  font-size: 35px;
  font-weight: 600;
  color: #25406b;
  line-height: 48px;
  max-width: 750px;
  text-align: center;
  margin-top: 40px;
}
.company-info__content h2 b {
  color: #0c7dff;
}
.company-info__switcher {
  margin-top: 75px;
  margin-bottom: 75px;
  max-width: 1134px;
}
.company-info__switcher .active {
  color: #0c7dff !important;
  background-color: #f6faff !important;
}
.company-info__button {
  padding: 18px 30px;
  background-color: white;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #25406b;
}
.company-info__button:hover {
  color: #0c7dff;
}
.company-info__contentbox {
  width: 100%;
  display: flex;
  align-items: center;
}
.company-info__contentbox .active {
  display: block;
}
.company-info__textbox {
  width: 100%;
  display: none;
}
.company-info__textbox-item {
  max-width: 580px;
  padding: 30px 40px;
  border-radius: 20px;
}
.company-info__textbox-item:hover {
  box-shadow: 7px 7px 60px #f2f3f6;
}
.company-info__textbox-item:hover span {
  color: #0c7dff;
}
.company-info__textbox-item span {
  color: #25406b;
  height: 32px;
  font-size: 20px;
  font-weight: 600;
  text-transform: none;
  max-width: 500px;
}
.company-info__textbox-item p {
  margin-top: 20px;
  color: #25406b;
  font-size: 16px;
  font-weight: normal;
  max-width: 500px;
}

/*# sourceMappingURL=style.css.map */
